.blog .position-fixed .blog-list {
  height: 78vh;
  overflow-y: auto;
  justify-content: flex-start;
}

.blog .container {
  max-width: 100%;
}

.blog-list .blogMainItem .overlay {
  padding: 20px 35px;
  justify-content: end;
  align-items: start;
}

.blog-list .blogMainItem .overlay h1 {
  text-align: left;
  color: #fff;
  font-size: 2.8rem;
  line-height: 35px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 10px;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  height: 105px;
  margin-bottom: 10px;
}

.blog-list .blogMainItem .overlay .authDetails {
  position: unset !important;
  margin-right: auto;
}

.blog-list .blogMainItem .overlay .authDetails h6 {
  color: #fff;
  font-weight: normal;
  font-size: 1.8rem;
}

.blog-list .blogMainItem .overlay .authDetails img {
  margin-right: 13px;
}

.blog-list .blogMainItem .overlay .authDetails h6 {
  letter-spacing: 1px;
}

.blog .blog-post p {
  margin-bottom: 25px !important;
}

.blog .blog-post .articleDetails {
  margin-bottom: 50px !important;
}

.cinatc_info {
  text-align: left;
}

.cinatc_info .con_card {
  margin-right: 60px;
  display: inline-flex;
  align-items: center;
  margin-bottom: 20px;
}

.cinatc_info .con_card span {
  font-size: 18px;
  color: #fff;
  font-weight: bold;
}

.cinatc_info .con_card img {
  margin-right: 10px;
  display: inline-block;
}

.choose_department {
  text-align: left;
}

.choose_department h2 {
  font-size: 4rem;
  color: #fff;
  margin-bottom: 26px;
  font-weight: bold;
}

.choose_department .choose_department_card {
  display: flex;
  align-items: center;
}

.choose_department .choose_department_card p {
  color: #9388ba;
  margin-left: 10px;
  font-size: 18px;
  font-weight: bold;
}

.choose_department .choose_department_card .sqiare_selector {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  position: relative;
  border: 1px solid #fff;
  flex: none;
}

.choose_department .choose_department_card .sqiare_selector .color {
  position: absolute;
  width: 85%;
  height: 85%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border-radius: 3px;
}

.choose_department .choose_department_cards_wrapper {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

section.contact form input,
section.contact form textarea {
  height: 50px;
}

.choose_department .form-group {
  /* margin-top: 3px ; */
  margin-bottom: 19px !important;
  width: calc(100% / 4);
}

.choose_department label {
  cursor: pointer;
  position: relative;
}

.choose_department label input {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

.choose_department
  label
  input[type="checkbox"]:checked
  ~ .choose_department_card
  .sqiare_selector
  .color {
  background-color: #fff !important;
}

.choose_department
  label
  input[type="checkbox"]:checked
  ~ .choose_department_card
  p {
  color: #fff !important;
}

section.about:nth-of-type(5) .col-md-6:last-child {
  right: 0 !important;
  background: url(../img/About-ViolaLogo-bg.jpg) no-repeat center !important;
  background-size: cover !important;
}

.about_clients_section .members_cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.about_clients_section .members_cards .member_card_wrapper {
  width: 50%;
  margin-top: 60px;
}

.about_clients_section .members_cards .member_card_wrapper .member_card {
  width: 240px;
  height: 240px;
  background-color: #fff !important;
  border-radius: 50%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about_clients_section .members_cards .member_card_wrapper .member_card img {
  width: 75%;
}

.about_awards_section .clients_section {
  padding-top: 200px;
  z-index: 4;
}

.about_awards_section .new_bg {
  background: url(../images/awards-big-img-left.png) !important;
  background-size: cover !important;
  padding: 0 130px;
}

.about_awards_section .clients_section_stripe {
  position: absolute;
  height: 100%;
  right: 0;
}

.about_awards_section .clients_section .card_img {
  width: 100%;
  height: 500px;
  max-height: 90%;
  position: relative;
}

.about_awards_section .clients_section .card_img .img_parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.about_awards_section .clients_section .card_img .img_parent img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about_awards_section .col-md-12:first-child {
  padding-left: 50px !important;
  padding-right: 90px;
}

.about_awards_section .award_content {
  margin-bottom: 15px;
}

.about_awards_section .award_content .card_icon {
  margin-right: 30px;
  flex: none;
  /* width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #fff; */
}

.about_awards_section .award_content .card_icon img {
  width: 100px;
}

.about_awards_section .award_content .card_title {
  font-size: 3rem;
  color: #fff;
  font-weight: bold;
  margin-right: auto;
  padding-left: 0;
  margin-top: 10px;
}

.about_awards_section .awards_slider_wrapper {
  /* padding-top: 50px; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.about_awards_section .award_content p {
  font-size: 1.4rem;
  color: #fff;
  font-weight: bold;
}

.about_awards_section .awards_slider .slick-list {
  padding: 0 0 !important;
  /* border: 1px solid red; */
}

.about_awards_section .awards_slider .slick-slide {
  height: auto;
}

.about_awards_section .awards_slider .slider_item h5 {
  font-size: 9.1rem;
  font-weight: bold;
  color: #efefef;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.about_awards_section .awards_slider .slider_item {
  /* border: 1px solid #000; */
  min-height: 130px;
  /* Adjust this value as needed */
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.about_awards_section .awards_slider .slick-current h5 {
  color: #301464;
  font-size: 10.5rem !important;
}

.about_awards_section .ward_sider_arrow {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translate(-50%, 0);
}

.about_awards_section .ward_sider_arrow li {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #9324bf;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  border: 1px solid #881eb2;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.about_awards_section .mobile_arrow {
  display: none;
}

.about_awards_section .desltop_arrow {
  display: block;
}

.about_awards_section .ward_sider_arrow li svg {
  height: 28px;
}

.about_awards_section .ward_sider_arrow li svg rect {
  transition: all 0.3s ease-in-out;
}

.about_awards_section .ward_sider_arrow li:hover {
  background-color: #fff;
}

.about_awards_section .ward_sider_arrow li:hover svg rect {
  fill: #881eb2;
}


section.about .bgvidparent {
  position: relative; 
  display: flex; 
  justify-content: center; 
  overflow: hidden;
}
section.about .bgvidholder{
  width: 100%; 
  height: 100%;
}
section.about .bgvid{
  object-fit: cover; 
  object-position: center; 
  height: auto; 
  width: 110%; 
  filter: blur(4px); 
  transform: scale(1.03);
}
section.about .bgvidoverlay{
  width: 100%;
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.5); 
  position: absolute; 
  top: 0; 
  right: 0; 
  z-index: 3;
}
section.about .bgvidtop{
  object-fit: cover; 
  object-position: center; 
  height: 100%; 
  width: auto; 
  position: absolute; 
  z-index: 10;
}



.home_contact_form_padding .fp-scrollable {
  padding-right: 30px;
}

header .menu .secondary-links li {
  position: relative;
}

header .menu .secondary-links li {
  padding: 0 20px;
}

header .menu .secondary-links {
  width: auto;
}

header .menu .secondary-links li:first-child {
  padding-left: 0;
}

/* .csrFullpage .fp-controlArrow:after{
  background-color: #fff;
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
} */

.csrFullpage .fp-controlArrow {
  /* background-image:  !important; */
  display: flex;
  align-items: center;
  justify-content: center;
  background: #9324bf !important;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

.csrFullpage .fp-controlArrow svg {
  height: 25px;
}

.csrFullpage .fp-controlArrow svg rect {
  transition: all 0.2s ease-in-out;
}

.csrFullpage .fp-controlArrow:hover {
  background: #fff !important;
}

.csrFullpage .fp-controlArrow:hover svg rect {
  fill: #9324bf;
}

.csrFullpage .slide_img_content {
  position: relative;
  z-index: 2;
  text-align: center;
}

.csrFullpage .slide_img_content .top_par h1 {
  color: #fff;
  font-size: 2rem;
  text-transform: capitalize;
  line-height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.csrFullpage #section1{
  position: relative;
}
.csrFullpage #section1 .scrollDown_button{
  position: absolute;
  bottom: -130px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 3;
  text-align: center;
  display: flex;
  flex-direction: column;
  cursor: none;
}

.csrFullpage #section1 .scrollDown_button button{
  width: 20px;
  height: 30px;
  border-radius: 30px;
  border: 2px solid #000;
  background-color: #fff;
  margin: auto;
  
}

.csrFullpage #section1 .scrollDown_button button::after{
  position: absolute;
  content: "";
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 3px;
  height: 5px;
  background-color: #000;
}

.csrFullpage #section1 .scrollDown_button span{
  font-size: 1.2rem;
  margin-top: 10px;
}

@media(max-width: 991px){
  .csrFullpage #section1 .scrollDown_button{
    display: none;
  }
}

.csrFullpage .slide_img_content p {
  width: 100%;
  font-size: 1.4rem !important;
  margin-bottom: 33px;
  width: 90%;
  margin: auto;
  color: #918e9f;
  text-align: center;
}

.csrFullpage .slide_img_content h5 {
  font-size: 4rem;
  color: #918e9f;
  margin-bottom: 33px;
}

.csrFullpage .fp-tableCell .overlayTop {
  background: rgba(22, 22, 22, 0.8);
}

.csrFullpage .slide_img_content .slide_img_first img {
  width: 50%;
}
.csrFullpage .slide_img_content .violawithyou_logo img {
  width: 30%;
}

.csrFullpage .slide_img_content .slide_img_second img {
  width: 243px;
  flex: none;
  margin-right: 35px;
}

.csrFullpage .slide_img_content .slide_img_second {
  margin-bottom: 31px;
}

.csrFullpage .slide_img_content .slide_img_second .slide_img_body h5 {
  margin-bottom: 0;
  color: #301464;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 26px;
}

.csrFullpage .slide_img_content .slide_img_second .slide_img_body h5,
.csrFullpage .slide_img_content .slide_img_second .slide_img_body p {
  /* text-align: left; */
  width: 100%;
}

.slide_img_content .slide_content .card_img {
  width: 100%;
  height: 700px;
  position: relative;
}

.slide_img_content .slide_content .card_img .img_parent {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.slide_img_content .slide_content .card_img .img_parent img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .csrFullpage .fp-controlArrow.fb-prev{
  background: url(images/ArrowNextNew1.svg) center no-repeat;
} */

header .menu .main-links li a {
  font-size: 6rem;
}
header .menu .main-links li a {
  line-height: 75px;
}
footer .sub-menu {
  width: 340px;
}

@media (max-width: 1920px) {
  .slide_img_content .slide_content .card_img {
    height: 550px;
  }
  .csrFullpage .slide_img_content .slide_img_second .slide_img_body h5 {
    margin-bottom: 10px;
  }
}

@media (max-width: 1600px) {
  .blog-list .blogMainItem .overlay h1 {
    font-size: 2.4rem;
    line-height: 31px;
    height: 96px;
  }

  .choose_department h2,
  .form-group h2 {
    font-size: 2.2rem !important;
  }

  .about_awards_section .awards_slider .slider_item {
    min-height: 100px;
  }

  .csrFullpage .slide_img_content p {
    width: 100%;
    font-size: 1.35rem !important;
  }
  .slide_img_content .slide_content .card_img {
    height: 420px !important;
  }
  .csrFullpage .slide_img_content .slide_img_second img {
    width: 190px !important;
  }
  .csrFullpage .fp-tableCell p {
    line-height: 20px !important;
  }
  .csrFullpage .slide_img_content .slide_img_second {
    margin-bottom: 12px !important;
  }

}

@media (max-width: 1300px) {
  .blog-list .blogMainItem .overlay h1 {
    font-size: 2.2rem;
    line-height: 26px;
    height: 76px;
  }
}

@media (max-width: 991px) {
  .blog .position-fixed {
    max-width: 100%;
    position: unset !important;
  }

  .blog .position-fixed .blog-list {
    height: auto;
  }

  header #nav-icon {
    top: 28px;
    width: 70px;
    height: 70px;
  }

  header #nav-icon span:nth-child(1) {
    top: 26px;
  }

  header #nav-icon span:nth-child(2) {
    top: 33px;
  }

  header #nav-icon span:nth-child(3) {
    top: 40px;
  }


  .blog .blog-post .articleDetails .authorImage {
    margin-right: 13px;
  }

  .section.blog-list {
    padding: 150px 20px;
  }

  .blog-list .blogMainItem .overlay h1 {
    font-size: 1.8rem;
    line-height: 26px;
    height: 76px;
  }
  .csrFullpage .slide_img_content .slide_img_first {
    flex-direction: column;
  }
  .csrFullpage .slide_img_content .slide_img_first img {
    margin-bottom: 15px;
  }

  section.about .bgvidparent {
    position: relative; 
    display: table-cell; 
    justify-content: center; 
    overflow: auto;
    background: none;
    padding: 0;
  }
  section.about .bgvidholder{
    display: none;
  }
  section.about .bgvidtop {
    height: auto;
    position: relative;
    width: 100%;
  }

}

@media (max-width: 600px) {
  .blog .blog-post h1 {
    font-size: 3rem !important;
    line-height: 3rem;
  }

  .blog-list .blogMainItem .overlay {
    padding: 20px 25px;
  }

  .blog-list .blogMainItem .overlay h1 {
    margin-top: 10px;
  }

  .blog-list .blogMainItem .overlay h1 {
    font-size: 1.8rem;
    line-height: 21px;
    height: 44px;
    line-clamp: 2;
    -webkit-line-clamp: 2;
  }

  .blog-list .blogMainItem .overlay .authDetails img {
    width: 40px;
    height: 40px;
  }

  .blog-list .blogMainItem .overlay .authDetails h6 {
    font-size: 1.4rem;
  }

  .choose_department .form-group {
    width: calc(100% / 2) !important;
  }

  section.contact {
    padding: 550px 0;
  }

  .choose_department .choose_department_card p {
    font-size: 14px;
  }

  .cinatc_info .con_card {
    margin-bottom: 12px;
    margin-top: 10px;
  }

  .about_awards_section {
    overflow: hidden;
  }

  .about_awards_section .new_bg {
    flex-direction: column;
    padding: 20px !important;
  }

  .about_awards_section .ward_sider_arrow {
    position: unset;
    transform: none !important;
    left: 0;
  }

  .about_awards_section .award_content {
    flex-direction: column;
    align-items: flex-start !important;
    margin: 20px 0;
  }

  .about_awards_section .ward_sider_arrow li {
    width: 50px;
    height: 50px;
  }

  .about_awards_section .ward_sider_arrow li svg {
    height: 25px;
  }

  .about_awards_section .award_content .card_icon img {
    margin-bottom: 20px;
  }

  .about_awards_section .award_content .card_title {
    font-size: 2.5rem;
  }

  .about_awards_section .award_content .card_icon img {
    width: 120px;
  }


  section.about .bgvidparent {
    position: relative; 
    display: table-cell; 
    justify-content: center; 
    overflow: auto;
    background: none !important;
    padding: 0 !important;
  }

  .order1mobile {
    order: 1;
  }

  .order2mobile {
    order: 2;
  }

  .about_awards_section .mobile_arrow {
    display: block !important;
    margin-top: 60px !important;
  }

  .about_awards_section .mobile_arrow li {
    margin: 0 15px !important;
  }

  .about_awards_section .desltop_arrow {
    display: none !important;
  }

  .home_contact_form_padding {
    padding: 500px 0 !important;
  }

  .csrFullpage .fp-tableCell p {
    font-size: 1rem !important;
    line-height: 20px !important;
  }

  .csrFullpage .slide_img_content h5 {
    font-size: 3rem;
    margin-bottom: 0;
  }
  .csrFullpage .slide_img_content .slide_img_first {
    margin-bottom: 10px;
  }
  /* .csrFullpage .slide_img_content .slide_img_second{
    margin-bottom: 10px;
  } */
  .csrFullpage .slide_img_content .slide_img_first img {
    width: 80%;
  }

  .csrFullpage .fp-controlArrow {
    display: flex !important;
    height: 40px !important;
    width: 40px !important;
  }

  .csrFullpage .fp-controlArrow svg {
    height: 25px !important;
  }

  /* .csrFullpage .slide_img_content .slide_img_second img {
    width: 42%;
  }
  .csrFullpage .slide_img_content .slide_img_second{
    text-align: left !important;
  } */
  .csrFullpage .slide_img_content .top_par h1 {
    justify-content: flex-start !important;
    padding: 0 !important;
    margin-bottom: 10px !important;
    line-height: 22px !important;
    font-size: 1.5rem !important;
  }

  .slide_img_content .slide_content .card_img {
    height: 220px !important;
  }
  .csrFullpage{
    overflow: hidden;
  }
  .csrFullpage .fp-tableCell,   .csrFullpage .section{
    height: auto !important;
  }
  .csrFullpage .slide_img_content .slide_img_first{
    padding-top: 100px;
  }
  .csrFullpage .slide_img_content .violawithyou_logo{
    display: none;
    padding-top: 0px;
  }

}

@media (max-width: 320px) {
  .blog .blog-post h1 {
    font-size: 3rem !important;
  }

  .blog .articleDetails {
    flex-direction: column;
    align-items: flex-start !important;
  }
}

@media (max-width: 1800px) {
  section.about h2 {
    font-size: 3.3rem !important;
  }
  .csrFullpage .slide_img_content .slide_img_second .slide_img_body h5 {
    margin-bottom: 10px;
  }
  .slide_img_content .slide_content .card_img {
    height: 470px;
  }
  .objectop {
    object-position: top !important;
  }
}

@media (max-width: 1930px) {
  section.contact form .form-group h2,
  .choose_department h2 {
    font-weight: bold;
    font-size: 3rem;
    line-height: 40px;
    margin-bottom: 11px;
  }

  section.contact form textarea {
    margin-bottom: 0;
    height: 91px;
  }

  .choose_department .form-group {
    width: calc(100% / 4);
  }

  section.contact form textarea {
    margin-bottom: 0;
    height: 84px !important;
  }
}

@media (max-width: 1800px) {
  section.about p {
    font-size: 1.6rem !important;
    line-height: 28px !important;
  }

  .cinatc_info .con_card {
    margin-bottom: 9px !important;
  }
}

@media (max-height: 768px) {
  .about_awards_section .awards_slider_wrapper {
    padding-top: 0px;
  }
}

@media (max-width: 1700px) {
  section.about h2 {
    font-size: 3rem !important;
  }

  .about_awards_section .awards_slider .slider_item h5 {
    font-size: 7.1rem;
  }

  .about_awards_section .awards_slider .slick-current h5 {
    font-size: 8.5rem !important;
  }
}

@media (max-width: 1700px) {
  section.about p {
    font-size: 1.5rem !important;
    line-height: 26px !important;
  }

  .about_clients_section .members_cards .member_card_wrapper {
    margin-top: 40px;
  }

  .about_clients_section .members_cards .member_card_wrapper .member_card {
    width: 215px;
    height: 215px;
  }

  section.contact form input,
  section.contact form textarea {
    height: 41px;
  }

  section.contact form textarea {
    margin-bottom: 0;
    height: 70px !important;
  }

  section.contact form button {
    font-size: 1.5rem;
    width: 250px;
    height: 40px !important;
  }

  .choose_department h2,
  .form-group h2 {
    font-size: 2.2rem !important;
  }
}

@media (max-width: 991px) {
  .about_clients_section .members_cards .member_card_wrapper .member_card {
    width: 130px;
    height: 130px;
  }
}
