.csrFullpage .fp-tableCell .overlayTop {
  height: 100%;
}

.csrFullpage .fp-tableCell {
  align-items: unset;
}

.openmenue {
  height: 100vh;
  overflow: hidden !important;
}

header .menu .main-links li a {
  padding-left: 15px;
  padding-right: 10px;
}

section.work .owl-carousel .owl-item .details .title {
  font-size: 3.5rem !important;
  line-height: 40px;
}

section.work .owl-carousel .owl-item .details {
  top: 60%;
}

section.banner .fp-tableCell img {
  z-index: 9;
}

section.banner .fp-tableCell img.vLand,
section.banner .fp-tableCell img.cloud-left {
  z-index: 1 !important;
}

section.banner .fp-tableCell img.cloud-med,
section.banner .fp-tableCell img.cloud-right {
  z-index: -1 !important;
}

.blog-list .blogMainItem .overlay .authDetails {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.blog .position-fixed .blog-list {
  padding-bottom: 50px;
}

.withLove {
  bottom: 35px;
  right: 40px;
  display: inline-block;
  position: fixed;
  z-index: 9;
}

.aboutback {
  opacity: 0 !important;
}

.backtopTopactive {
  opacity: 1 !important;
}


.position-fixed .nicescroll-cursors {
  height: 280px !important;
}


section.work .owl-carousel .owl-item.active:nth-child(even) .art {
  width: 80%;
}

header .menu .main-links li {
  width: 300px;
}

section.about p {
  font-size: 2rem;
  line-height: 35px;
}

section.about h2 {
  font-size: 6rem;
}

section.about:nth-of-type(4) .col-md-6:last-child .slide-item {
  width: 135px !important;
  height: 135px !important;
  margin-bottom: 25px;
}

section.contact form textarea {
  padding: 10px !important;
}

section.project.fp-section .fp-tableCell .desc h2,
section.project.fp-section .fp-tableCell .statisticsTitle {
  font-size: 5rem;
  margin-bottom: 20px;
  line-height: 50px;
}

section.project.fp-section .fp-tableCell .desc p,
section.project-details.fp-section .fp-tableCell p {
  line-height: 30px;
  font-size: 1.6rem;
}

section.project-details.fp-section .fp-tableCell .logos svg {
  width: 100px;
}

section.project-details.fp-section .fp-tableCell .project-navigation .nav-button {
  font-size: 2.2rem;
}

section.project-details.fp-section .fp-tableCell .project-navigation .nav-button img {
  width: 20px;
}


.projectFullPage section,
.projectFullPage .fp-slide,
.projectFullPage .fp-tableCell {
  height: auto !important;
}

section.project.fp-section .fp-tableCell .statistics h3,
section.project.fp-section .fp-tableCell .statistics span.counter {
  display: inline;
  line-height: 45px;
  font-size: 2.5rem;
}

section.project.fp-section .fp-tableCell .statistics span {
  font-size: 2.5rem;
}

section.project.fp-section .fp-tableCell .statisticsContainer {
  padding: 0 9%;
}

section.project-details.fp-section .fp-tableCell .logos svg {
  height: 100px
}

section.project-details.fp-section .fp-tableCell .project-navigation {
  margin-top: 80px;
}

.csrFullpage .fp-tableCell {
  align-items: center;
}

.csrFullpage .fp-tableCell p {
  margin-bottom: 10px;
  font-size: 1.6rem;
  line-height: 25px;
}

.csrFullpage .fp-tableCell h1 {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 5rem;
  line-height: 50px;
}

.csrFullpage .fp-tableCell p:last-child {
  margin-bottom: 0;
}



.projectFullPage2 .project,
.projectFullPage .project {
  padding-bottom: 50px;
}

section.contact form button {
  font-size: 1.5rem;
  width: 250px;
  height: 50px;
}

section.contact form {
  margin-bottom: 0;
}

section.contact form textarea {
  margin-bottom: 0;
  height: 115px;
}

header .menu .locationsList {
  margin-top: -40px;
}

section.about h2 {
  font-size: 5rem;
  line-height: 60px;
}

section.work .owl-carousel .owl-item .art {
  top: 36%;
}


@media(max-width: 1800px) {
  section.network .fp-tableCell .circle-container .service a {
    font-size: .8rem;
  }

  /* section.network .fp-tableCell .circle-container .service .model img{
    width: 70% !important;
  } */
  section.network .fp-tableCell .circle-container .service.events .model {
    height: 90px;
    width: 10em;
    top: 5px !important;
    right: -27px !important;
  }

  section.network .fp-tableCell .circle-container .service p {
    font-size: 1em;
  }

  section.network .fp-tableCell .circle-container .service .model {
    height: 140px;
  }

  .home .logo,
  .about .logo,
  .logo {
    width: 90px;
    left: 28px;
  }
}

@media(max-width: 1600px) {
  section.contact form .form-group h2 {
    margin-bottom: 10px;
  }

  section.contact form .form-group {
    margin-bottom: 16px;
  }

  section.contact form .form-group h2 {
    font-size: 2.2rem;
  }

  section.contact form input,
  section.contact form textarea {
    font-size: 1.9rem;
  }

  section.about h2 {
    font-size: 4rem;
  }

  section.about p {
    font-size: 1.7rem;
    line-height: 30px;
  }

  section.about:nth-of-type(4) .col-md-6:last-child .slide-item {
    width: 115px !important;
    height: 115px !important;
  }

  section.about:nth-of-type(5) ul {
    margin-top: 10px;
  }

  section.about:nth-of-type(5) ul li a h4 {
    font-size: 2.5rem;
  }

  .blog-list .mainTitle {
    font-size: 6rem;
  }

  section.network .fp-tableCell .circle-container>* {
    width: 17em;
    height: 17em;
  }

  section.network .fp-tableCell .circle-container>* {
    /* margin: -10.5rem; */
  }

  .position-fixed .nicescroll-cursors {
    height: 200px !important;
  }

}

@media(max-width: 1500px) {
  section.about p {
    font-size: 1.5rem;
    line-height: 30px;
  }

  section.about h2 {
    font-size: 5rem;
  }

  section.about:nth-of-type(4) .col-md-6:last-child .slide-item {
    width: 120px !important;
    height: 120px !important;
    margin-bottom: 20px;
  }
}

@media(max-width: 600px) {
  .back-to-top {
    width: 60px;
    height: 60px;
    right: 32px;
  }

  section.network .fp-tableCell .circle-container .service .model {
    height: 290px;
  }

  section.network .fp-tableCell .circle-container .service.events .model4 {
    height: 160px;
    right: 70px !important;
  }

  section.video .muted {
    width: 30px;
    top: -100px;
    left: 20px;
  }

  footer .copy {
    line-height: 20px;
  }

  header .menu .main-links li a {
    font-size: 4rem !important;
    line-height: 27px;
  }

  footer .footer_copy {
    padding-bottom: 15px;
  }

  footer .footer_copy .sub-menu {
    justify-content: flex-start !important;
  }

  footer .footer_copy .sub-menu li {
    margin-right: 30px;
  }

  footer .subscribe .form-group .subscribe-button {
    font-size: 3rem;
    top: 52%;
  }

  footer .nomargin-mobilr {
    margin-bottom: 0 !important;
  }

  footer .subscribe .form-group input {
    height: 55px;
    padding: 0 20px;
    font-size: 1.7rem;
  }

  header .menu .main-links {
    margin-bottom: 200px;
  }

  .menu .coffee {
    bottom: 22%;
  }

  header .menu .secondary-links {
    bottom: 19%;
  }

  header .menu p {
    bottom: 90px;
  }

  section.project-details.fp-section .fp-tableCell .logos svg {
    width: 85px;
  }

  section.project.fp-section .fp-tableCell .desc h2,
  section.project.fp-section .fp-tableCell .statisticsTitle {
    font-size: 3rem;
    line-height: 40px;
  }

  .projectFullPage2 .project,
  .projectFullPage .project {
    padding-top: 50px;
  }

  section.project-details.fp-section .fp-tableCell p {
    margin-top: 30px;
  }

  section.project-details.fp-section .fp-tableCell .project-navigation {
    margin-bottom: 20px;
  }

  section.project-details.fp-section .fp-tableCell .project-navigation .nav-button {
    font-size: 1.5rem;
  }

  section.project-details.fp-section .fp-tableCell .project-navigation .nav-button.prev img,
  section.project-details.fp-section .fp-tableCell .project-navigation .nav-button.next img {
    width: 15px;
  }

  section.about h2 {
    font-size: 3rem;
    line-height: 40px;
  }

  section.about .col-md-6:first-child {
    padding-left: 30px;
  }

  section.about .col-md-6:first-child {
    padding-left: 20px !important;
  }

  section.about:nth-of-type(2) .col-md-6:last-child {
    background-position: center;
  }

  .about_clients_section .fp-tableCell {
    height: auto !important;
  }

  section.about .col-md-6:last-child {
    padding: 50px 0;
  }

  .find_us_section {
    margin-bottom: 50px;
    padding-top: 50px;
  }

  .blog-list .mainTitle {
    font-size: 4rem;
    margin-bottom: 0;
  }

  .section.blog-list {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 90px;
  }

  /* .position-fixed{
    display: none;
  } */
  .blog .position-fixed .blog-list {
    height: 100%;
    overflow: auto !important;
    cursor: none !important;
    touch-action: unset !important;
  }

  header .menu .secondary-links {
    padding-left: 15px;
  }

  header .menu .coffee.hover span {
    /* top: 50%; */
    transform: translate(0, -50%);
  }

  footer a {
    font-size: 1.5rem;
  }

  footer {
    padding-top: 10px;
  }

  footer .locationsList {
    margin-top: 20px;
    margin-right: 0;
  }

  footer .locationsList li h6 {
    margin-bottom: 15px;
  }

  footer .locationsList li {
    margin-bottom: 2rem;
  }

  footer .social img {
    height: 25px;
  }

  footer .social {
    justify-content: space-evenly !important;
  }

  footer a.mapLink {

    font-size: 1.4rem;
    line-height: 20px;
  }

  footer .subscribe {
    margin-top: 0;
  }

  .section.blog-list {
    padding-top: 120px;
  }

  section.about:nth-of-type(5) ul li a h4 {
    font-size: 1.9rem;
  }

  section.about:nth-of-type(5) ul li a img {
    width: 50px;
  }

  section.contact form .form-group h2 {
    font-size: 1.8rem;
  }

  section.contact form textarea {
    height: 90px;
  }

  section.contact form .form-group input,
  section.contact form .form-group textarea {
    margin-bottom: 0 !important;
  }

  section.contact form .form-group h2 {
    margin-bottom: 5px;
  }

  .custom_about_page section.about {
    height: auto !important;
  }

  .custom_about_page section.about .fp-tableCell {
    height: auto !important;
  }

  .custom_about_page section.about #lottieInnerSection {
    height: 50vh;
  }

  section.about .col-md-6:first-child {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .custom_about_page section.about:nth-of-type(2) .col-md-6:last-child:after,
  section.about:nth-of-type(3) .col-md-6:last-child:after {
    height: 100%;
  }

  .custom_about_page .video_section {
    padding: 150px 0 !important;
  }

  .home .logo,
  .about .logo,
  .logo {
    left: 14px;
  }

  .csrFullpage .fp-tableCell {
    padding-left: 10px;
    padding-right: 10px;
  }

  .csrFullpage .fp-tableCell .intro h1 {
    font-size: 2.3rem;
  }

  .csrFullpage .fp-tableCell .intro p {
    font-size: 1.3rem;
  }

  header #nav-icon {
    right: 10px;
  }
}

.blog-list .back-to-top {
  z-index: 99999;
}

@media(max-width: 1024px) {
  .csrFullpage .fp-controlArrow {
    display: block;
    top: unset;
    bottom: 50px;
  }

  .csrFullpage .fp-controlArrow.fp-next,
  .csrFullpage .fp-controlArrow.fp-prev {
    height: 30px;
  }
}

@media(max-width: 1600px) {
  section.network .fp-tableCell .circle-container .service p {
    font-size: .9em;
  }

  section.network .fp-tableCell .circle-container .service a {
    font-size: .7rem;
  }
  section.network .fp-tableCell .circle-container .service.events .model{
    width: 9em;
    right: -4px !important;
  }
  section.network .fp-tableCell .circle-container > *{
    margin: -9em;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .csrFullpage .fp-controlArrow {
    display: block;
    top: unset;
    bottom: 50px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .csrFullpage .fp-controlArrow {
    display: block;
  }
}