html{
  font-size: 10px !important;
}

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

button {
  border: 0;
  box-shadow: none;
  cursor: pointer;
}

button:focus {
  outline: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

input.form-control:focus,
select.form-control:focus {
  border-color: inherit;
  outline: 0;
  box-shadow: none;
}

.w-35 {
  width: 35%;
}

.pt-200 {
  padding-top: 15vh;
}

.mb-30 {
  margin-bottom: 30px;
}

.px-8 {
  padding: 0 8%;
}

footer {
  background: #fff;
  padding-top: 60px;
}

footer h6 {
  font-weight: bold;
  font-size: 1.6rem;
  margin-bottom: 12px;
  color: #16092c;
}

footer .locationsList {
  margin-right: 110px;
  margin-top: 70px;
}

footer .locationsList li {
  margin-right: 30px;
  flex: 1;
}

footer .locationsList li h6 {
  margin-bottom: 30px;
}

footer .subscribe {
  margin-top: 20px;
}

footer .subscribe .form-group {
  position: relative;
}

footer .subscribe .form-group input {
  height: 75px;
  border-radius: 11px;
  background: #fff;
  border: 2px solid #301464;
  line-height: 75px;
  color: #16092c;
  padding: 0 40px;
  font-weight: bold;
  font-size: 2rem;
}

footer .subscribe .form-group .subscribe-button {
  position: absolute;
  right: 20px;
  top: 50%;
  font-size: 4rem;
  margin-top: -28px;
}

footer .social {
  flex-grow: 0.6;
}

footer .social li {
  padding: 15px 0;
}

footer .social img {
  height: 35px;
  width: auto;
}

footer a {
  font-weight: bold;
  font-size: 2rem;
  line-height: 50px;
  color: #16092c;
}

footer a.mapLink {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 25px;
  color: #581dc9;
  opacity: 1;
}

footer .copy {
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 60px;
  color: #16092c;
  margin-bottom: 0;
}

footer .sub-menu {
  width: 270px;
}

footer .sub-menu a {
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 50px;
  text-align: left;
  color: #16092c;
  opacity: 0.6;
}
header {
  z-index: 10;
}

header>* {
  z-index: 9;
  position: fixed;
}

header .logo .cls-3 {
  fill: #fff;
}

header .logo .cls-4 {
  fill: #722282;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #581DC9;
  z-index: 9999;
}

.overlay h3 {
  color: #fff;
}

header .overlayResponsive {
  display: none !important;
}

header .logo {
  top: 35px;
  left: 35px;
}
#lottieInnerSection{
  width:600px;
  height:600px;
  display:block;
  overflow: hidden;
  transform: translate3d(0,0,0);
  text-align: center;
  opacity: 1;
}


#lottieInnerPage{
  background-color:#581DC9;
  width:400px;
  height:400px;
  display:block;
  overflow: hidden;
  transform: translate3d(0,0,0);
  text-align: center;
  opacity: 1;
}
#lottie{
  background-color:#581DC9;
  width:400px;
  height:400px;
  display:block;
  overflow: hidden;
  transform: translate3d(0,0,0);
  text-align: center;
  opacity: 1;
}
#lottie2 {
  background-color: #581DC9;
  width: 300px;
  height: 300px;
  display: block;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  text-align: center;
  opacity: 1;
}

header #nav-icon {
  width: 80px;
  height: 80px;
  right: 35px;
  top: 35px;
  z-index: 12;
  padding: 30px;
  border-radius: 50%;
  background: url(../img/menuButtonBG.png) center no-repeat;
  background-size: cover;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

header #nav-icon span {
  display: block;
  position: absolute;
  width: 28px;
  height: 4px;
  background: #fff;
  border-radius: 1px;
  opacity: 1;
  left: 50%;
  margin-left: -14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

header #nav-icon span:nth-child(1) {
  top: 30px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

header #nav-icon span:nth-child(2) {
  top: 38px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
#siteContainer{
  position: relative;
  z-index: 2;
}
header #nav-icon span:nth-child(3) {
  top: 46px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

header #nav-icon:hover span:nth-child(2) {
  left: calc(50% + 15px);
  width: 21px;
}

header #nav-icon:hover span:nth-child(3) {
  width: 24px;
}

header #nav-icon.open {
  background: none;
}

header #nav-icon.open:hover span {
  width: 28px;
}

header #nav-icon.open span {
  left: 30px;
  margin-left: 0;
}

header #nav-icon.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 27px;
}

header #nav-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

header #nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 47px;
}

header .social {
  left: 35px;
  bottom: 35px;
}

header .social li {
  margin-bottom: 15px;
}

header .social li:last-child {
  margin-bottom: 0;
}

header .withLove {
  bottom: 35px;
  right: 40px;
  display: inline-block;
}

header .menu {
  background: url(../img/menu-bg.png) center no-repeat;
  background-size: cover;
  width: 100vw;
  display: none;
  height: 100vh;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 0;
  transition: all .5s linear;
  -webkit-transition: all .5s linear;
  overflow: hidden;
  border-radius: 0;
  opacity: 0;
}

header .menu .logo {
  z-index: 12;
  position: absolute;
}

header .menu.open {
  opacity: 1;
  z-index: 11;
}

header .menu .main-links {
  margin-bottom: 100px;

}

header .menu .main-links li {
  margin-bottom: 20px;
}

header .menu .main-links li a {
  -webkit-text-stroke-color: #fff;
  -webkit-text-stroke-width: 1px;
  -webkit-transition: all .2s, -webkit-transform .5s ease;
  color: transparent;
  transition: all .2s, -webkit-transform .5s ease;
  transition: all .2s, transform .5s ease;
  transition: all .2s, transform .5s ease;
  font-weight: 900;
  font-size: 9rem;
  letter-spacing: -0.05em;
  line-height: 90px;
  position: relative;
}

header .menu .main-links li a:after {
  content: '';
  width: 110%;
  display: block;
  height: 4px;
  background: #ffef35;
  position: absolute;
  left: -100%;
  top: 55%;
  opacity: 0;
  transform: translateY(-50%);
  transition: all .5s;
  z-index: -1;
}

header .menu .main-links li a:hover {
  color: #fff;
  font-style: italic;
  position: relative;
}

header .menu .main-links li a:hover:after {
  left: -5%;
  top: 55%;
  opacity: 1;
}

header .menu .main-links li:last-child {
  margin-bottom: 0;
}

header .menu .secondary-links {
  display: flex;
  justify-content: space-between;
  width: 510px;
  margin-top: auto;
  position: absolute;
  bottom: 30px;
}

header .menu .secondary-links li a {
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 0.1em;
  line-height: 20px;
  color: #fff;
  text-transform: uppercase;

}

header .menu .coffee {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-35%);
  z-index: 1;
  animation: floatCoffee 2s ease-in-out infinite;

}

header .menu .coffee map area {
  outline: none;
}

header .menu .coffee span {
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 28px;
  text-align: left;
  color: #fff;
  position: absolute;
  top: 50%;
  left: -3%;
  opacity: 0;
  transition: all .6s;
}

header .menu .coffee.hover span {
  top: 72%;
  opacity: 1;
}

header .menu .locationsList {
  width: 409px;
  margin-top: -114px;
  position: relative;
  z-index: 2;

  @media screen and (max-width:1024px){
    top: 7rem;
}

}

header .menu .locationsList li {
  margin-bottom: 30px;
}

header .menu .locationsList li:last-child {
  margin-bottom: 0;
}

header .menu .locationsList li button {
  padding: 0 60px;
  border-radius: 42px;
  background: #16092c;
  font-weight: 900;
  font-size: 1.8rem;
  line-height: 85px;
  text-align: left;
  color: #fff;
}

header .menu .locationsList h6 {
  font-weight: 900;
  font-size: 2.7rem;
  letter-spacing: -0.05em;
  text-align: left;
  color: #fff;

}

header .menu .locationsList a {
  font-weight: 500;
  font-size: 2rem;
  letter-spacing: 0.03em;
  line-height: 30px;
  text-align: left;
  color: #fff;
  opacity: 0.8;
}

header .menu p {
  position: absolute;
  right: 150px;
  bottom: 25px;
  font-weight: normal;
  font-size: 1.2rem;
  text-align: right;
  color: #fff;
}

@keyframes rot {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes float {
  0% {
    /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
    transform: translatey(0px);
  }

  50% {
    /* box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2); */
    transform: translatey(-20px);
  }

  100% {
    /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
    transform: translatey(0px);
  }
}

@keyframes floatCoffee {
  0% {
    /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
    transform: translate(-35%, 0px);
  }

  50% {
    /* box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2); */
    transform: translate(-35%, -20px);
  }

  100% {
    /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
    transform: translate(-35%, 0px);
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1600px;
  }
}

.home .logo,
.about .logo,
.logo {
  width: 127px;
  height: 67px;
}

.home .logo .cls-3,
.about .logo .cls-3,
.logo .cls-3 {
  fill: #fff;
}

.home .logo .cls-4,
.about .logo .cls-4,
.logo .cls-4 {
  fill: #722282;
}

.home .logo img,
.about .logo img,
.logo img {
  width: 100%;
}

.work-page .social {
  display: none !important;
}

body * {
  font-family: 'Roboto', sans-serif;
}

section {
  height: 100vh;
}

section.banner {
  background: url(../img/banner/sky.jpg) no-repeat center center;
  background-size: cover;
  overflow: hidden;
}

section.banner .fp-tableCell {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  padding-left: 20%;
}

section.banner .fp-tableCell img {
  position: absolute;
  transition: all 6s;
}

section.banner .fp-tableCell img.vLand {
  width: 100%;
  height: auto;
  left: 0;
  bottom: 0;
  z-index: 5;
}

section.banner .fp-tableCell img.cloud-left {
  left: 0;
  top: 50%;
  transform: translateY(-150px);
  width: 350px;
  height: auto;
}

section.banner .fp-tableCell img.cloud-med {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 780px;
  height: auto;
  z-index: 4;
}

section.banner .fp-tableCell img.cloud-right {
  right: 0;
  top: 50%;
  transform: translateY(-150px);
  width: 390px;
  height: auto;
}

section.banner .fp-tableCell img.for-building {
  right: 0;
  bottom: 0;
  width: 960px;
  height: auto;
  z-index: 6;
}

section.banner .fp-tableCell img.flare {
  right: 100px;
  bottom: 0;
  width: 790px;
  height: auto;
  z-index: 6;
}

section.banner .fp-tableCell img.ballon-4 {
  right: -600px;
  top: -100px;
  width: 600px;
  height: auto;
  z-index: 6;
}
section.banner .fp-tableCell img.ballon-1 {
  left: 130px;
  top: 50%;
  transform: translateY(-190px);
  width: 50px;
  height: auto;
  z-index: 6;
}

section.banner .fp-tableCell img.ballon-2 {
  right: 30px;
  top: 50%;
  transform: translateY(0);
  width: 100px;
  height: auto;
  z-index: 6;
}

section.banner .fp-tableCell img.ballon-3 {
  left: 50%;
  top: 50%;
  transform: translate(-185px, -40px);
  width: 115px;
  height: auto;
  z-index: 4;
}

section.banner .fp-tableCell img.ballon-5 {
  right: -30px;
  top: 50%;
  transform: translateY(-10%);
  width: 45px;
  height: auto;
  z-index: 4;
}
section.banner .fp-tableCell .scrollDown {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 90px;
  z-index: 100;
  border: 0;
  background: none;
}

section.banner .fp-tableCell h1 {
  font-weight: 900;
  font-size: 4.5rem;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  text-align: left;
  color: #fff;
  position: relative;
  z-index: 7;
}

section.banner .fp-tableCell h3 {
  font-weight: 300;
  font-size: 3.9rem;
  letter-spacing: -0.01em;
  line-height: 39px;
  text-align: left;
  color: #fff;
  margin-bottom: 15px;
  position: relative;
  z-index: 7;
}

section.banner .fp-tableCell p {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 30px;
  text-align: left;
  color: #fff;
  position: relative;
  z-index: 7;
}

section.banner .fp-tableCell .contactButton {
  padding: 0 25px;
  border-radius: 24px;
  background: #fff;
  font-weight: 900;
  font-size: 1.3rem;
  line-height: 42px;
  text-align: left;
  color: #301464;
  z-index: 7;
  position: absolute;
  right: 160px;
  bottom: 30px;
}



 
section.banner.animate-banner img.cloud-left {
  top: 35%;
  animation: float 6s ease-in-out infinite;
}

section.banner.animate-banner img.cloud-med {
  animation: float 4s ease-in-out infinite;
}

section.banner.animate-banner img.cloud-right {
  animation: float 5s ease-in-out infinite;
}

section.banner.animate-banner img.ballon-1 {
  left: 60%;
  top: 30%;
  transform: translateY(-290px);
  animation: float 5s ease-in-out infinite;
  transition: all 12s;
}

section.banner.animate-banner img.ballon-2 {
  right: 500px;
  top: 350px;
  animation: float 6s ease-in-out infinite;
}

section.banner.animate-banner img.ballon-3 {
  left: 35%;
  top: 10%;
  animation: float 6s ease-in-out infinite;
}

section.banner.animate-banner img.ballon-4 {
  right: -300px;
  top: -200px;
  animation: float 7s ease-in-out infinite;
}

section.banner.animate-banner img.ballon-5 {
  right: 330px;
  top: 50%;
  transform: translateY(-30%);
  animation: float 5s ease-in-out infinite;
}

section.banner.zoomAnimation img {
  transition: all 2s;
}

section.banner.zoomAnimation img.vLand {
  transform: scale(1.2);
}

section.banner.zoomAnimation img.for-building {
  transform: scale(1.2);
  -webkit-filter: blur(5px);
  /* Safari 6.0 - 9.0 */
  filter: blur(5px);
  right: -3px;
  bottom: -3px;
}
section.video {
  background: url(../img/about-bg.png) center no-repeat;
  background-size: cover;
}

section.video .muted {
  position: relative;
  z-index: 4;
  width: 50px;
  left: 50px;
  fill: #fff;
  cursor: pointer;
}

section.video video {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-color: black;
  background-position: center center;
  background-size: contain;
  object-fit: cover;
  z-index: 3;
}

section.network {
  background: #301464;
}
section.network .fp-tableCell {
  display: flex;
  align-items: center;
  padding: 115px 100px;
}
section.network .fp-tableCell h2 {
  font-weight: 900;
  font-size: 7rem;
  letter-spacing: -0.04em;
  text-align: left;
  color: #fff;
  line-height: 1;
  margin-bottom: 30px;
}

section.network .fp-tableCell h2 span {
  color: #ffef2b;
}
section.network .fp-tableCell p {
  font-weight: normal;
  font-size: 2rem;
  line-height: 35px;
  text-align: left;
  color: #fff;
}
@media only screen and (min-width: 1100px) {
  section.network .fp-tableCell .circle-container {
    position: relative;
    width: 40em;
    height: 40em;
    border-radius: 50%;
    padding: 0;
    list-style: none;
    flex-grow: 1;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    // in 1920*1080 screen res
    font-size: 18.7px;

  }

  section.network .fp-tableCell .circle-container>* {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -9.5em;
    width: 19em;
    height: 19em;
  }

  section.network .fp-tableCell .circle-container>*:nth-of-type(1) {
    transform: rotate(0deg) translate(20em) rotate(0deg);
  }

  section.network .fp-tableCell .circle-container>*:nth-of-type(2) {
    transform: rotate(60deg) translate(20em) rotate(-60deg);
  }

  section.network .fp-tableCell .circle-container>*:nth-of-type(3) {
    transform: rotate(120deg) translate(20em) rotate(-120deg);
  }

  section.network .fp-tableCell .circle-container>*:nth-of-type(4) {
    transform: rotate(180deg) translate(20em) rotate(-180deg);
  }

  section.network .fp-tableCell .circle-container>*:nth-of-type(5) {
    transform: rotate(240deg) translate(20em) rotate(-240deg);
  }

  section.network .fp-tableCell .circle-container>*:nth-of-type(6) {
    transform: rotate(300deg) translate(20em) rotate(-300deg);
  }
}

section.network .fp-tableCell .circle-container .mainCenterLogo {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  top: 0;
  left: 0;
  transform: none;
}
section.network .fp-tableCell .circle-container .service {
  border: 2px solid #A63DCA;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all .5s;
  overflow: hidden;
  padding: 10px;
}
section.network .fp-tableCell .circle-container .service * {
  transition: all .5s;
}

section.network .fp-tableCell .circle-container .service p {
  width: 100%;
  font-weight: normal;
  font-size: 1.37rem;
  line-height: 20px;
  text-align: center;
  color: #16092c;
  margin-bottom: 10px;
  opacity: 0;
  margin-top: 100%;
}

section.network .fp-tableCell .circle-container .service a {
  font-weight: 900;
  font-size: 1.4rem;
  text-align: left;
  color: #fff;
  line-height: 46px;
  display: inline-block;
  position: relative;
  align-self: center;
  justify-self: center;
  opacity: 0;
  margin-top: 100px;
  border-radius: 23px;
  background: #16092c;
  padding: 0 25px;
}

section.network .fp-tableCell .circle-container .service .centerLogo {
  width: 100px;
  height: auto;
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all .2s;
}

section.network .fp-tableCell .circle-container .service .mainCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

section.network .fp-tableCell .circle-container .service .model {
  position: absolute;
  width: 240px;
  height: 290px;
  top: 50%;
  right: -40px;
  opacity: 0;
  transition: all 1s;
}
section.network .fp-tableCell .circle-container .service .model img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: auto;
  animation: float 5s ease-in-out infinite;
}
section.network .fp-tableCell .circle-container .service:hover {
  background: linear-gradient(#fff 0%, #bcb7c3 100%);
  overflow: visible;
  z-index: 9;
}

section.network .fp-tableCell .circle-container .service:hover a,
section.network .fp-tableCell .circle-container .service:hover p {
  opacity: 1;
}

section.network .fp-tableCell .circle-container .service:hover p {
  margin-top: 125px;
}

section.network .fp-tableCell .circle-container .service:hover a {
  margin-top: 0;
}

section.network .fp-tableCell .circle-container .service:hover .centerLogo {
  margin-bottom: 30px;
  top: 53px;
  left: 47px;
  transform: none;
  opacity: 1;
}

section.network .fp-tableCell .circle-container .service:hover .mainCenter {
  opacity: 0;
}

section.network .fp-tableCell .circle-container .service:hover .model {
  opacity: 1;
  top: -16px;
}
section.network .fp-tableCell .circle-container .service.adv .model img:nth-child(5) {
  left: 78px;
}
section.network .fp-tableCell .circle-container .service.adv .centerLogo {
  fill: #ca003d;
}

section.network .fp-tableCell .circle-container .service.adv:hover .model {
  top: -45px;
}

section.network .fp-tableCell .circle-container .service.outdoor .model {
  height: 200px;
}
section.network .fp-tableCell .circle-container .service.outdoor .model img:nth-child(1) {
  z-index: 2;
  top: -30%;
}

section.network .fp-tableCell .circle-container .service.outdoor .model img:nth-child(2) {
  z-index: 3;
}

section.network .fp-tableCell .circle-container .service.outdoor .model img:nth-child(3) {
  z-index: 2;
  top: -20%;
  left: auto;
  right: 0;
}

section.network .fp-tableCell .circle-container .service.outdoor .centerLogo {
  fill: #61a60e;
}

section.network .fp-tableCell .circle-container .service.outdoor:hover .model {
  top: 0;
  right: -60px;
}

section.network .fp-tableCell .circle-container .service.interactive .model img {
  height: auto;
  width: 100%;
}

section.network .fp-tableCell .circle-container .service.interactive .model img:nth-child(2) {
  top: 17%;
}

section.network .fp-tableCell .circle-container .service.interactive .model img:nth-child(3) {
  top: -30%;
}

section.network .fp-tableCell .circle-container .service.interactive .model img:nth-child(4) {
  top: 29%;
}

section.network .fp-tableCell .circle-container .service.interactive .model img:nth-child(5) {
  top: 38%;
  right: 6%;
  left: auto;
}

section.network .fp-tableCell .circle-container .service.interactive .model img:nth-child(6) {
  top: -8%;
}

section.network .fp-tableCell .circle-container .service.interactive .centerLogo {
  fill: #00c4b3;
}

section.network .fp-tableCell .circle-container .service.relations .model img {
  height: auto;
  width: 100%;
}

section.network .fp-tableCell .circle-container .service.relations .centerLogo {
  fill: #00a7e1;
}

section.network .fp-tableCell .circle-container .service.relations:hover .model {
  top: -30px;
}

section.network .fp-tableCell .circle-container .service.events .model {
  height: 160px;
}
section.network .fp-tableCell .circle-container .service.events .model img:nth-child(1) {
  z-index: 1;
}

section.network .fp-tableCell .circle-container .service.events .model img:nth-child(2) {
  top: 46%;
  left: -7%;
  height: 64%;
  z-index: 2;
}

section.network .fp-tableCell .circle-container .service.events .model img:nth-child(3) {
  z-index: 2;
  top: -35%;
  height: 132%;
}

section.network .fp-tableCell .circle-container .service.events .model img:nth-child(4) {
  z-index: 2;
  left: 50%;
  top: -27%;
  height: 130%;
}

section.network .fp-tableCell .circle-container .service.events .centerLogo {
  fill: #c2d500;
}

section.network .fp-tableCell .circle-container .service.events:hover .model {
  top: 15px;
  right: -60px;
}

section.network .fp-tableCell .circle-container .service.producers .model img {
  height: auto;
  width: 100%;
}

section.network .fp-tableCell .circle-container .service.producers .model img:nth-child(1) {
  top: 15%;
}

section.network .fp-tableCell .circle-container .service.producers .model img:nth-child(2) {
  top: -15%;
}

section.network .fp-tableCell .circle-container .service.producers .model img:nth-child(4) {
  top: -18%;
}

section.network .fp-tableCell .circle-container .service.producers .model img:nth-child(5) {
  top: 24%;
}

section.network .fp-tableCell .circle-container .service.producers .centerLogo {
  fill: #ff6c0e;
}

@media only screen and (min-width: 1100px) and (max-width:1700px) {
  section.network .fp-tableCell .circle-container {
      font-size: 1.1rem;
  }
  .circle-container .mainCenter{
    width: 12em;
  }
  .circle-container .service.outdoor .mainCenter{
    width: 8em;
  }

  .circle-container .service.producers .mainCenter{
    width: 9em;
  }
  .circle-container .service.events .mainCenter{
    width: 8em;
  }


  section.network .fp-tableCell .circle-container .service .model {
    width: 14em;
    img{
      width: 100% !important;
      height: auto !important;
    }
  }


  section.network .fp-tableCell .circle-container .service .centerLogo{
    width: 5em;
    top: -27px !important;
  }
  section.network .fp-tableCell .circle-container .service p{
    font-size: 1.1em;
    line-height: 1.5em;
    top: -35px;
    position: relative;
    // margin-bottom: 44px;
  }

  section.network .fp-tableCell .circle-container .service a {
    font-size: 1rem;
    line-height: 3.6em;
    padding: 0 25px;
    position: relative;
    top: -37px;
    // margin-top: -43px ​!important;
  }

}






section.contact {
  background: url(../img/contactBG.jpg) no-repeat center center;
  background-size: cover;
}

section.contact .fp-tableCell {
  display: flex;
  justify-content: center;
  align-items: center;
}

section.contact form {
  width: 950px;
}

section.contact form .form-group {
  margin-bottom: 30px;
}

section.contact form .form-group h2 {
  font-weight: bold;
  font-size: 4rem;
  line-height: 40px;
  text-align: left;
  color: #fff;
  margin-bottom: 26px;
}

section.contact form input,
section.contact form textarea {
  font-weight: 500;
  font-size: 3rem;
  text-align: left;
  background: transparent;
  color: #fff;
  border: none;
  border-bottom: 2px solid #fff;
  width: 100%;
}

section.contact form input:focus,
section.contact form textarea:focus {
  outline: none;
}

section.contact form input::-webkit-input-placeholder,
section.contact form textarea::-webkit-input-placeholder {
  /* Edge */
  color: #fff;
  opacity: 0.5;
}

section.contact form input:-ms-input-placeholder,
section.contact form textarea:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
  opacity: 0.5;
}

section.contact form input::placeholder,
section.contact form textarea::placeholder {
  color: #fff;
  opacity: 0.5;
}

section.contact form textarea {
  resize: none;
  padding: 20px;
  height: 150px;
  border-radius: 10px;
  background: transparent;
  border: 2px solid #fff;
  margin-bottom: 30px;
}

section.contact form button {
  width: 306px;
  height: 70px;
  border-radius: 35px;
  background: #fff;
  box-shadow: 0px 10px 30px rgba(22, 9, 44, 0.45);
  line-height: 70px;
  font-weight: 900;
  font-size: 1.8rem;
  line-height: 30px;
  text-align: center;
  color: #16092c;
  justify-self: center;
}

section.about.fp-section .fp-tableCell {
  display: flex;
}
section.about h2 {
  font-weight: 900;
  font-size: 7.5rem;
  line-height: 80px;
  text-align: left;
  color: #301464;
  align-self: baseline;
  margin-bottom: 16px;
}
section.about p {
  font-weight: 500;
  font-size: 3rem;
  line-height: 50px;
  text-align: left;
  color: #918e9f;

}
section.about .col-md-6:first-child {
  padding-left: 160px;
  padding-right: 90px;
}

section.about .col-md-6:last-child {
  background: url(../img/About-ViolaLogo-bg.jpg) no-repeat center;
  background-size: cover;
}
section.about .col-md-6:last-child .logo {
  width: 300px;
  height: auto;
}
section.about:nth-of-type(2) .col-md-6:last-child {
  background: url(../img/AbuDhabi.gif) no-repeat 0 center;
  background-size: cover;
}
section.about:nth-of-type(3) .col-md-6:last-child {
  background: url(../img/Viola-Scooter.gif) no-repeat center;
  background-size: cover;
}
section.about:nth-of-type(4) .filter {
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;
}

section.about:nth-of-type(4) .filter a {
  display: block;
  padding: 0 40px;
  line-height: 60px;
  border-radius: 30px;
  background: transparent;
  border: 1px solid #301464;
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
  color: #301464;
  transition: all .7s;
  margin: 0 16px 16px 0;
}

section.about:nth-of-type(4) .filter a:hover,
section.about:nth-of-type(4) .filter a.active {
  color: #fff;
  background: linear-gradient(#581dc9 0%, #301464 100%);
}

section.about:nth-of-type(4) .col-md-6:last-child .slick-wrapper {
  width: calc((100vw/2) - 320px);

}


section.about:nth-of-type(4) .col-md-6:last-child .slick-wrapper .slick-dots li button:before {
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.3);
}

section.about:nth-of-type(4) .col-md-6:last-child .slick-wrapper .slick-dots li.slick-active button:before {
  color: rgba(255, 255, 255, 0.75);
}

section.about:nth-of-type(4) .col-md-6:last-child .slick-slide>div {
  text-align: center;
}

section.about:nth-of-type(4) .col-md-6:last-child .slide-item {
  height: 145px;
  width: 145px !important;
  margin-bottom: 50px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #707070;
}
section.about:nth-of-type(4) .col-md-6:last-child .slide-item img {
  filter: grayscale(100%);
  width: 100%;
  transition: all .5s;
}
section.about:nth-of-type(4) .col-md-6:last-child .slide-item img:hover {
  filter: grayscale(0%);
}

section.about:nth-of-type(4) .col-md-6:last-child .swiper-container {
  width: calc((100vw/2) - 320px);
  height: calc((100vh - 200px));
}

section.about:nth-of-type(4) .col-md-6:last-child .swiper-container li {
  height: 145px;
  width: 145px !important;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

section.about:nth-of-type(4) .col-md-6:last-child .swiper-container li img {
  filter: grayscale(100%);
  transition: all .5s;
}

section.about:nth-of-type(4) .col-md-6:last-child .swiper-container li img:hover {
  filter: grayscale(0%);
}

section.about:nth-of-type(4) .col-md-6:last-child .ul li {
  margin-bottom: calc((100vh - 580px) / 5);
  margin-right: calc((100vw/2 - 755px) / 2);
}

section.about:nth-of-type(4) .col-md-6:last-child .ul li:nth-last-child(-n+3) {
  margin-bottom: 0;
}

section.about:nth-of-type(4) .col-md-6:last-child .ul li:nth-child(3n+0) {
  margin-right: 0;
}
section.about:nth-of-type(5) .row{
  width: 100% !important;
}


section.about:nth-of-type(5) ul {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

section.about:nth-of-type(5) ul li a {
  font-weight: 500;
  font-size: 3rem;
  line-height: 80px;
  text-align: center;
  color: #301464;
}
section.about:nth-of-type(5) ul li a div {
  margin-bottom: 10px;
  height: 65px;
}

section.about:nth-of-type(5) .col-md-6:last-child {
  background: url(../img/Viola-Office.gif) no-repeat 0 center;
  background-size: cover;
  right: -2rem;
}

section.work .social {
  display: none;
}

section.work .owl-carousel .owl-item {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-left: 170px;
  padding-right: 90px;
  border-right: 3px solid #000;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

section.work .owl-carousel .owl-item * {
  transition: all .7s;
}

section.work .owl-carousel .owl-item.active:nth-child(3) {
  border-right: none;
}

section.work .owl-carousel .owl-item .details {
  width: 370px;
  position: absolute;
  left: 40%;
  transform: translateX(-50%);
  top: 55%;
  transition: all 0.5s ease-in-out;
  z-index: 6;
}

section.work .owl-carousel .owl-item .details .number {
  font-weight: 900;
  font-size: 3rem;
  letter-spacing: -0.05em;
  text-align: left;
  color: #d24fcb;
}

section.work .owl-carousel .owl-item .details .title {
  font-weight: 900;
  font-size: 4.6rem;
  letter-spacing: -0.05em;
  line-height: 55px;
  text-align: left;
  color: #581dc9;
 
}

section.work .owl-carousel .owl-item .bubbleTop {
  position: absolute;
  top: 100px;
  right: 50px;
  width: auto;
}

section.work .owl-carousel .owl-item .bubble {
  width: auto;
  position: absolute;
  opacity: 1;
  top: 260px;
  left: 120px;
  z-index: 5;
}

section.work .owl-carousel .owl-item .bubblebottom {
  width: auto;
  position: absolute;
  opacity: 1;
  bottom: 80px;
  right: 90px;
  z-index: 5;
}

section.work .owl-carousel .owl-item .topBG {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 4;
  opacity: 0;
}

section.work .owl-carousel .owl-item .art {
  position: absolute;
  height: auto;
  width: 80%;
  top: 40%;
  left: -50%;
  transform: translate(-50%, -50%);
  z-index: 6;
}

section.work .owl-carousel .owl-item.active:nth-child(even) .bubble {
  margin-right: 0;
  right: 45px;
  bottom: 140px;
}

section.work .owl-carousel .owl-item.active:nth-child(even) .bubblebottom {
  bottom: 170px;
  right: 40px;
}

section.work .owl-carousel .owl-item.active:nth-child(even) .bubbleTop {
  right: auto;
  left: 60px;
}

section.work .owl-carousel .owl-item.active:nth-child(even) .art {
  width: 100%;
}

section.work .owl-carousel .owl-item.active:nth-child(3n+0) .bubble {
  top: 400px;
  right: auto;
  left: 60px;
}

section.work .owl-carousel .owl-item.active:nth-child(3n+0) .bubbleTop {
  right: 50px;
  top: 220px;
}

section.work .owl-carousel .owl-item.active:nth-child(3n+0) .bubblebottom {
  width: 40px;
  height: auto;
  bottom: 140px;
  right: 60px;
}

section.work .owl-carousel .owl-item.active:hover .bubble {
  top: -150%;
  opacity: 0;
}

section.work .owl-carousel .owl-item.active:hover .bubblebottom {
  bottom: -100%;
}

section.work .owl-carousel .owl-item.active:hover .bubbleTop {
  top: -50%;
}

section.work .owl-carousel .owl-item.active:hover .topBG,
section.work .owl-carousel .owl-item.active:hover .textBG {
  opacity: 1;
}

section.work .owl-carousel .owl-item.active:hover .art {
  left: 50%;
}

section.work .owl-carousel .owl-item.active:hover:nth-child(even) .bubble {
  top: auto;
  bottom: -140px;
}

section.work .owl-carousel .owl-item.active:hover .details {
  left: 40%;
  margin-left: 0;
  bottom: 160px;
  top: 74%;
}


.invertColor {
  // filter: drop-shadow(0px 0px 2px black);
  filter: invert(1);
}
section.work .owl-carousel .owl-item.active:hover .details .title {
  color: #fff;
}

section.work .owl-carousel .owl-item.active:hover .details .category,
section.work .owl-carousel .owl-item.active:hover .details .number {
  color: rgba(255, 255, 255, 0.75);
}

section.work .owl-carousel .owl-dots {
  position: absolute;
  bottom: 0;
  width: 100%;
}

section.project.fp-section .fp-tableCell {
  display: flex;
  flex-direction: column;
}

section.project.fp-section .fp-tableCell .desc {
  padding: 0 8%;
}

section.project.fp-section .fp-tableCell .desc h2 {
  font-weight: 900;
  font-size: 8rem;
  letter-spacing: -0.05em;
  line-height: 75px;
  text-align: left;
  color: #301464;
  margin-bottom: 40px;
  
}
section.project.fp-section .fp-tableCell .desc h2 {
  @media only screen and (min-width: 1000px) and (max-width:1400px){
    font-size: 4rem;
    line-height: 46px;
  }
}



section.project.fp-section .fp-tableCell .desc p {
  font-weight: 500;
  font-size: 2rem;
  line-height: 30px;
  text-align: left;
  color: #16092c;
}


section.project.fp-section .fp-tableCell .innerVideoImage {
  height: auto;
  max-height: 636px;
  width: auto;
  @media only screen and (min-width: 1300px) and (max-width:1700px){
    max-height: 397px;
  }
}

section.project.fp-section .fp-tableCell .desc p {
  @media only screen and (min-width: 1000px) and (max-width:1400px){
    line-height: 20px;
    font-size: 1.8rem;
  }
}
section.project.fp-section .fp-tableCell .statisticsTitle {
  font-family: Roboto;
  font-weight: bold;
  font-size: 6rem;
  letter-spacing: -0.05em;
  line-height: 50px;
  text-align: left;
  color: #301464;
  margin-bottom: 25px;
  @media screen and (max-width:1200px) {
      font-size: 3.6rem;
  }
}
section.project.fp-section .fp-tableCell .statisticsContainer {
  padding: 0 10%;
}

section.project.fp-section .fp-tableCell .statistics>div {
  padding-right: 50px;
  margin-right: 50px;
  position: relative;
  height: 130px;
  display: flex;
  align-items: center;
}

section.project.fp-section .fp-tableCell .statistics>div:after {
  content: '';
  height: 130px;
  width: 3px;
  background: #01171F;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

@media only screen and (max-width: 900px) {
  section.project.fp-section .fp-tableCell .statistics>div:after {
    display: none;
  }
}

section.project.fp-section .fp-tableCell .statistics>div:last-child {
  padding-right: 0;
  margin-right: 0;
  border-right: none;
}

section.project.fp-section .fp-tableCell .statistics>div:last-child:after {
  display: none;
}

section.project.fp-section .fp-tableCell .statistics span {
  font-family: Roboto;
  font-weight: 900;
  font-size: 3rem;
  line-height: 40px;
  text-align: left;
  display: block;
  color: #16092c;
  @media screen and (max-width:1200px){
  line-height: 30px;
  font-size: 2.4rem;
  }
}

@media only screen and (max-width: 900px) {
  section.project.fp-section .fp-tableCell .statistics{
    justify-content: flex-start !important;
    flex-direction: column !important;
    align-items: flex-start !important;
  }
  section.project.fp-section .fp-tableCell .statistics>div {
    margin-bottom: 25px;
    padding-right: 0;
    margin-right: 0;
    height: auto;
  }
}
section.project.fp-section .fp-tableCell .statistics h3,
section.project.fp-section .fp-tableCell .statistics span.counter {
  font-family: Roboto;
  font-weight: bold;
  font-size: 5.5rem;
  line-height: 55px;
  text-align: left;
  color: #581dc9;
  
}
.font-size-74rem{
  font-size: 4.7rem;
}
.left--50{
  left: -50px;
  position: relative;
}

section.project-details.fp-section .fp-tableCell {
  display: flex;
}
section.project-details.fp-section .fp-tableCell .projectImages img {
  height: calc(100vh / 3);
}
section.project-details.fp-section .fp-tableCell .projectImages .slick-arrow {
  display: none !important;
}

section.project-details.fp-section .fp-tableCell p {
  font-family: Roboto;
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 45px;
  text-align: left;
  color: #16092c;
  margin-top: 150px;

}
section.project.fp-section .fp-tableCell .statistics h3,
 section.project.fp-section .fp-tableCell .statistics span.counter{
   display: inline;
  line-height: 55px;
  font-size: 3.5rem;
}
section.project-details.fp-section .fp-tableCell .logos svg {
  width: 140px;
  height: auto;
  margin-right: 18px;
}
section.project-details.fp-section .fp-tableCell .logos svg:nth-child(1) {
  fill: #c2d500;
}

section.project-details.fp-section .fp-tableCell .logos svg:nth-child(2) {
  fill: #00c4b3;
}

section.project-details.fp-section .fp-tableCell .logos svg:nth-child(3) {
  fill: #ca003d;
}

section.project-details.fp-section .fp-tableCell .logos svg:nth-child(4) {
  fill: #61a60e;
}

section.project-details.fp-section .fp-tableCell .logos svg:nth-child(5) {
  fill: #00a7e1;
}

section.project-details.fp-section .fp-tableCell .logos svg:nth-child(6) {
  fill: #ff6c0e;
}

section.project-details.fp-section .fp-tableCell .project-navigation {
  margin-top: 130px;
}

section.project-details.fp-section .fp-tableCell .project-navigation .nav-button {
  font-weight: bold;
  font-size: 3rem;
  letter-spacing: -0.05em;
  line-height: 30px;
  text-align: right;
  color: #c3c3c3;
  text-transform: uppercase;
}

section.project-details.fp-section .fp-tableCell .project-navigation .nav-button img {
  width: 35px;
  height: auto;
}
section.project-details.fp-section .fp-tableCell .project-navigation .nav-button.prev img {
  margin-right: 15px;

}

section.project-details.fp-section .fp-tableCell .project-navigation .nav-button.next img {
  margin-left: 15px;
}
.blog {
  padding-top: 120px;
}

.blog .container {
  width: 1270px;
}

.blog .blog-post {
  display: flex;
  flex-direction: column;
}

.blog .blog-post h1 {
  font-weight: 900;
  font-size: 4rem;
  letter-spacing: -0.05em;
  line-height: 5rem;
  text-align: left;
  color: #301464;
}

.blog .blog-post p {
  font-weight: normal;
  font-size: 2rem;
  line-height: 35px;
  text-align: left;
  color: #16092c;
  margin-bottom: 50px;
}

.blog .blog-post h2 {
  font-weight: 900;
  font-size: 4rem;
  letter-spacing: -0.05em;
  line-height: 40px;
  text-align: left;
  color: #16092c;
  margin-bottom: 35px;
}

.blog .blog-post .inner-blog-image {
  margin: 0 auto 50px;
  text-align: center;
  max-width: 100%;
}

.blog .blog-post .articleDetails {
  margin-bottom: 100px;
  .socialBlog{
    li{
      a{
        img{
          width: 30px;
        }
      }
    }
  }
}

.blog .blog-post .articleDetails .authorImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
  margin-right: 18px;
  margin-right: 32px;
}
.blog .blogContentContainer{
  padding: 0 25px;
}
.blog .blog-post .articleDetails h3 {
  font-weight: 500;
  font-size: 2rem;
  letter-spacing: -0.05em;
  line-height: 75px;
  text-align: left;
  color: #918e9f;
}

.blog .position-fixed {
  width: calc(1270px * 41.666667 / 100);
}

.blog .position-fixed .blog-list {
  flex-direction: column;
}

.blog .blog-list-title {
  font-weight: 900;
  font-size: 2rem;
  letter-spacing: -0.05em;
  line-height: 40px;
  text-align: left;
  color: #301464;
  position: relative;
  margin-bottom: 28px;
  text-transform: uppercase;
}

.blog .blog-list-title:after {
  content: '';
  width: 100px;
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #301464;
}

.blog .blog-list li {
  margin-bottom: 20px;
  width: 100%;
}

.blog .blog-list li img {
  width: auto;
  height: 90px;
  margin-right: 20px;
}

.blog .blog-list li h3 {
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: left;
  color: #16092c;
  max-width: 61%;

}

.blog .blog-list li .author {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: -0.05em;    
  margin-top: 15px !important;
  text-align: left;
  color: #918e9f;
}

.blog .blog-list li .author img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
  margin-right: 18px;
}

.csrFullpage .fp-slidesNav {
  text-align: center;
}

.csrFullpage #fp-nav ul li,
.csrFullpage .fp-slidesNav ul li {
  width: 16px;
  height: 16px;
}

.csrFullpage #fp-nav ul li a span,
.csrFullpage .fp-slidesNav ul li a span {
  height: 16px;
  width: 16px;
  background: rgba(255, 255, 255, 0.3);
  margin: 0px;
}

.csrFullpage #fp-nav ul li a.active span,
.csrFullpage #fp-nav ul li:hover a.active span,
.csrFullpage .fp-slidesNav ul li a.active span,
.csrFullpage .fp-slidesNav ul li:hover a.active span {
  height: 16px;
  width: 16px;
  margin: 0;
  border-radius: 100%;
  background: #fff;
}

.csrFullpage .fp-controlArrow {
  top: 50%;
  cursor: pointer;
  width: 35px;
  height: 60px;
  border: none;
  margin-top: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.csrFullpage .fp-controlArrow.fp-prev {
  left: 50px;
  border-width: 0;
  border-color: transparent;
  background: url(../img/ArrowPrev.svg) center no-repeat;
}

.csrFullpage .fp-controlArrow.fp-next {
  right: 50px;
  border-width: 0;
  border-color: transparent;
  background: url(../img/ArrowNext.svg) center no-repeat;
}

.csrFullpage .fp-tableCell {
  padding: 0 150px;
  display: flex;
  align-items: flex-end;
}

.csrFullpage .fp-tableCell .overlayBottom {
  position: absolute;
  width: 100%;
  height: 432px;
  bottom: 0;
  left: 0;
  background: transparent linear-gradient(0deg, #16092C 0%, #16092C00 100%) 0% 0% no-repeat padding-box;
  mix-blend-mode: multiply;
  opacity: 1;
}

.csrFullpage .fp-tableCell .overlayTop {
  position: absolute;
  width: 100%;
  height: 266px;
  top: 0;
  left: 0;
  background: transparent linear-gradient(180deg, #16092C 0%, #16092C00 100%) 0% 0% no-repeat padding-box;
  mix-blend-mode: multiply;
  opacity: 1;
}

.csrFullpage .fp-tableCell h1 {
  font-weight: 900;
  font-size: 7.5rem;
  line-height: 80px;
  text-align: left;
  color: #fff;
  margin-bottom: 50px;
  position: relative;
  z-index: 4;
}

.csrFullpage .fp-tableCell p {
  width: 958px;
  font-weight: 500;
  font-size: 2rem;
  line-height: 30px;
  text-align: left;
  color: #fff;
  margin-bottom: 20px;
  position: relative;
  z-index: 4;
}

.csrFullpage .fp-tableCell p:last-child {
  margin-bottom: 100px;
}
.blog-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.blog-list .mainTitle {
  font-weight: 900;
  font-size: 8rem;
  letter-spacing: -0.05em;
  line-height: 75px;
  text-align: left;
  color: #301464;
  margin-bottom: 20px;
}

.blog-list .blogMainItem {
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
}

.blog-list .blogMainItem img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.blog-list .blogMainItem .overlay {
  height: auto;
  width: 100%;
  border-radius: 0px 0px 10px 10px;
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, #1c1c1c 100%);
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 60px;
  display: block;
}

.blog-list .blogMainItem .overlay h1 {
  font-weight: bold;
  font-size: 3.6rem;
  line-height: 45px;
  text-align: left;
  color: #fff;
  margin-bottom: 25px;
}

.blog-list .blogMainItem .overlay .authDetails {
  display: flex;
  align-items: center;
}

.blog-list .blogMainItem .overlay .authDetails img {
  width: 58px;
  height: 58px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.16);
  border-radius: 50%;
  margin-right: 26px;
  @media screen and (max-width:400px) {
    width: 35px;
    height: 35px;
  }
}

.blog-list .blogMainItem .overlay .authDetails h6 {
  font-weight: 500;
  font-size: 2.3rem;
  letter-spacing: -0.05em;
  text-align: left;
  color: #918e9f;

}

.blog-list .blog-list-item {
  margin-bottom: 30px;
}

.blog-list .blog-list-item img {
  max-width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
}

.blog-list .blog-list-item h3,
.blog-list .blog-list-item h3 a {
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 30px;
  text-align: left;
  color: #16092c;
  margin-bottom: 15px;
}

.blog-list .blog-list-item .authDetails {
  display: flex;
  align-items: center;
}

.blog-list .blog-list-item .authDetails img {
  width: 40px;
  height: 40px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.16);
  border-radius: 50%;
  margin-right: 20px;
  margin-bottom: 0;
}

.blog-list .blog-list-item .authDetails h6 {
  font-weight: 500;
  font-size: 1.6rem;
  letter-spacing: -0.05em;
  text-align: left;
  color: #918e9f;
}
.back-to-top {
  font-weight: 900;
  font-size: 3rem;
  letter-spacing: -0.05em;
  text-align: center;
  color: #301464;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.16);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 10%;
  right: 35px;
  z-index: 9;
  transition: all .5s;
  opacity: 0;
}
.visiable{
  display: block !important;
}
.flexVisiable{
  display: flex !important;
}
.mrt-60{
  margin-top: 60px;
}
.project .roi{
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  width: 90% !important; 
}
@import './mediaQueries';


*:target ~ * {
  display: none !important;
}
 *:target {
  display: block !important;
}

.hideImportant{
  display: none !important;
}

section.about .col-md-6:first-child{
  padding-left: 50px !important;
}

.statistics {
  &:nth-child(3){
    h3{
      left: 40px !important;
    }
  }
}

.svg-container{
  display: none !important;

  svg{
    display: none;
  }
}

.blog-list .blogMainItem .overlay{
  display: flex!important;
  justify-content: center;
  align-items: end;
}

@media screen and (min-width:1700px) and (max-width:1850px){
  section.network .fp-tableCell .circle-container{
    transform: scale(0.8);
  }
}

.csrFullpage{
  .fp-section.fp-table, .fp-slide.fp-table{
    background-size: cover !important;
  }
}

.blogPostCopy header .logo img{
  filter: invert(0.6);
}

header .menu .main-links li a{
  font-size: 8rem;
}

