    header .menu {
        .secondary-links li a {
            font-size: 1.2rem;

        }

        .main-links {
            top: 5rem;
            margin-right: 158px;
            margin-left: 20px;
            position: relative;
        }

        li a {
            font-size: 6rem;
            line-height: 69px;
        }

        .coffee {
            left: 57%;
            top: 9%;

            img {
                width: 400px;

            }
        }
        .locationsList {
            margin-bottom: 40px;
            h6 {
                font-size: 2.5rem;
            }
            a {
                font-size: 1.4rem;
                line-height: 17px;
            }
        }


    }