.section.about p{
    font-size: 1.8rem;
    line-height: 27px;
}

section.about .col-md-6:first-child {
    padding-left: 36px;
    padding-right: 20px;
}


section.about:nth-of-type(4) .col-md-6:last-child .slick-wrapper{
    width: calc((100vw/2) - 120px);
}

.blog-list .blogMainItem .overlay h1 {

    font-size: 2.5rem;
    line-height: 31px;
}

section.project.fp-section .fp-tableCell .innerVideoImage {
    max-height: 320px;
}
section.about h2 {
    font-size: 4.4rem;
    line-height: 49px;
}
section.work .owl-carousel .owl-item .details .title {
    font-size:28px;
    line-height: 44px;
  }
    section.work .owl-carousel .owl-item .details  {
    left: 55%;
  }

  

  

// Side menu Style 

.menu .coffee{
    width: 28rem !important;
    height: auto;
    bottom: auto;
    left: 48% !important;
    top: 32% !important;
    max-height: 30rem;
  }
  header .menu .coffee span{
    font-size: 1.3rem;
  }
  .menu .coffee img{
    width: 100% !important;
    height:auto
  }
  header .menu .main-links {
    margin-bottom: 25px;
}
  header .menu .main-links li{
    margin-bottom:7px ​!important;
  }
  header .menu .main-links li a{
    font-size: 7rem;
    line-height: 80px;
  }
  header .menu .locationsList li{
    margin-bottom: 38px;
  }
  header .menu .locationsList{
    top: 7.5rem;
    width: 330px;
    margin-bottom: 0px !important;
  }
  header .menu .secondary-links{
    width: 400px !important;
  }
  header .menu .locationsList h6 {
    font-size: 2.3rem;
}
header .menu .locationsList a {
    font-size: 1.6rem;
}

.back-to-top{
    width: 50px;
    height: 50px;
    font-size: 2rem;
  }



// Header in HOME PAGE
.primary_title--container{
    position: relative;
    font-size: 1rem;
    left: -5%;
  }
  
  .primary_title--container .primary_title{
    font-size: 4em !important;
  }
  .primary_title--container .primary_title,
  .primary_title--container .primary_title-sub,
  .primary_title--container .secondary_title{
    text-shadow: 0 0 2px #000000 ;
  }

  
section.network .fp-tableCell .circle-container .service .centerLogo{
    left: 32px !important;
    top: 23px !important;
    width: 85px !important;
  }
  
  section.network .fp-tableCell .circle-container .service:hover .centerLogo{
    top: 39px !important;
    left: 32px !important;
  }
  
  