.section.about p{
    font-size: 1.8rem;
    line-height: 27px;
}

section.about .col-md-6:first-child {
    padding-left: 36px;
    padding-right: 20px;
}


section.about:nth-of-type(4) .col-md-6:last-child .slick-wrapper{
    width: calc((100vw/2) - 120px);
}

.blog-list .blogMainItem .overlay h1 {

    font-size: 2.5rem;
    line-height: 31px;
}

section.project.fp-section .fp-tableCell .innerVideoImage {
    max-height: 320px;
}
section.about h2 {
    font-size: 4.4rem;
    line-height: 49px;
}
section.work .owl-carousel .owl-item .details .title {
    font-size:28px;
    line-height: 44px;
  }
    section.work .owl-carousel .owl-item .details  {
    left: 55%;
  }