

  // style for ballon in HOME page
  section.banner {
    .fp-tableCell {
      justify-content: flex-end;
      padding: 100px 30px;
      img.ballon-4 {
        width: 430px;
      }
      img.vLand {
        width: 230%;
        height: auto;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        z-index: 5;
      }

      img.for-building {
        right: 0;
        bottom: 0;
        width: 100%;
        height: auto;
        z-index: 6;
      }

      .fp-tableCell h1 {
        font-size: 3rem;
      }

      h3 {
        font-size: 2.5rem;
      }

      p {
        font-size: 1.6rem;
      }

      .contactButton {
        left: 6%;
        right: auto;
        transform: translateX(-50%);
      }
    }


  }

  section.banner.zoomAnimation img.vLand {
    transform: translateX(-50%) scale(1.5);
  }

  // END style for ballon in HOME page



  // *** Aboutpage *** 
  section.about.fp-section .fp-tableCell {
    display: block;
  }

  section.about.fp-section .fp-tableCell {
    display: block;
  }

  section.about.fp-section:first-child .fp-tableCell,
  section.about.fp-section:last-child .fp-tableCell {
    display: flex;
    flex-direction: column-reverse;
  }

  section.about h2 {
    font-size: 3.2rem;
    line-height: 1.5;
    text-align: center;
    display: block !important;
    width: 100%;
    text-align: center;
  }

  section.about p {
    font-size: 1.6rem;
    line-height: 20px;
    text-align: center;
  }

  section.about .col-md-6 {
    max-width: none;
    flex: 1;
    width: 100vw;
  }

  section.about .col-md-6:first-child {
    padding: 30px;
  }

  section.about:nth-of-type(1) .col-md-6:last-child {
    order: 1;
  }

  section.about:nth-of-type(2) .col-md-6:first-child {
    position: absolute;
    bottom: 100px;
    left: 0;
    z-index: 11;
  }

  section.about:nth-of-type(2) .col-md-6:first-child p,
  section.about:nth-of-type(2) .col-md-6:first-child h2 {
    color: #fff;
  }

  section.about:nth-of-type(3) .col-md-6:first-child {
    position: absolute;
    bottom: 100px;
    left: 0;
    z-index: 11;
  }

  section.about:nth-of-type(3) .col-md-6:first-child p,
  section.about:nth-of-type(3) .col-md-6:first-child h2 {
    color: #fff;
  }

  section.about:nth-of-type(4) .col-md-6:first-child {
    position: absolute;
    top: 100px;
    left: 0;
    z-index: 11;
  }

  section.about:nth-of-type(4) .col-md-6:first-child p,
  section.about:nth-of-type(4) .col-md-6:first-child h2 {
    color: #fff;
  }

  section.about:nth-of-type(4) .col-md-6:last-child {
    padding: 0 30px;
  }

  section.about:nth-of-type(4) .col-md-6:last-child .slick-wrapper {
    width: 100%;
    margin-top: 260px;
  }

  section.about:nth-of-type(4) .col-md-6:last-child .slide-item {
    height: 90px;
    width: 90px !important;
    margin-bottom: 10px;
  }

  section.about:nth-of-type(5) .col-md-6:first-child {
    padding: 0 30px;
  }

  section.about:nth-of-type(5) ul li a {
    font-size: 2rem;
  }

  // ****** End of ABOUT PAGE ******


  // Start Project Page *******
  section.project.fp-section {
    // height: auto !important;
    min-height: 1290px;
  }

  section.project.fp-section .fp-tableCell .desc h2 {
    font-size: 3.4rem;
    line-height: 1.4;
  }

  section.project.fp-section .fp-tableCell .desc p {
    font-size: 1.6rem;
    line-height: 1.4;
  }

  section.project.fp-section .fp-tableCell .statisticsTitle {
    font-size: 4rem;
    line-height: 1.4;
    margin-bottom: 20px;
  }

  section.project.fp-section .fp-tableCell .statistics span {
    font-size: 1.6rem;
    line-height: 1.4;
  }

  section.project.fp-section .fp-tableCell .statistics h3,
  section.project.fp-section .fp-tableCell .statistics span.counter {
    font-size: 3rem;
    line-height: 1.4;
  }

  section.project-details.fp-section {
    height: auto !important;
  }

  section.project-details.fp-section .fp-tableCell {
    flex-direction: column;
    height: auto !important;
  }

  section.project-details.fp-section .fp-tableCell .projectImages img {
    width: 100% !important;
    height: auto;
    margin-bottom: 100px;
  }

  section.project-details.fp-section .fp-tableCell p {
    margin-top: 0;
    font-size: 1.6rem;
    line-height: 1.4;
  }

  section.project-details.fp-section .fp-tableCell .logos svg {
    width: 120px;
  }

  section.project-details.fp-section .fp-tableCell .project-navigation .nav-button {
    font-size: 1.6rem;
  }

  section.project-details.fp-section .fp-tableCell .project-navigation .nav-button img {
    width: 20px;
  }

  section.project-details.fp-section .fp-tableCell .project-navigation {
    z-index: 233;
    margin-top: 0;
    position: absolute;
    bottom: -320px;
    padding: 0 30px;
  }
  section.project.fp-section .fp-tableCell .statistics span {
    font-size: 1.6rem;
    line-height: 1.4;
  }
  // End Project Page *******


  // ****** START BLOG PAGE ******
  .blog .container {
    width: 100%;
  }

  .blog h1 {
    font-size: 4rem;
  }

  .blog .blog-post h1 {
    font-size: 2.1rem;
    line-height: 20px;
    margin-bottom: 25px;
  }

  .blog .blog-post .articleDetails {
    flex-wrap: wrap;
    margin-bottom: 50px;
  }

  .blog .blog-post .articleDetails .authorImage {
    width: 40px;
    height: 40px;
  }

  .blog .blog-post .articleDetails h3 {
    font-size: 2rem;
    line-height: 60px;
  }

  .blog .blog-post .articleDetails .socialBlog {
    width: 100%;
    margin-top: 20px;
  }

  .blog .blog-post p {
    font-size: 1.6rem;
  }

  .blog .position-fixed {
    width: 100%;
    position: relative !important;
  }

  .blog .position-fixed .blog-list {
    padding-top: 0;
    align-items: center;
    
    flex-direction: column;
  }

  .blog .position-fixed .blog-list li {
    margin-bottom: 20px;
  }

  .blog .position-fixed .blog-list li a {
    flex-direction: column;
  }

  .blog .position-fixed .blog-list li a>img {
    width: 100%;
    height: auto;
    margin-right: 0;
  }


    .blog-list {
    padding-top: 100px;
    align-items: start;
    li{
      h3{
      font-size: 2rem;

      }
      img{
        width: auto;
        height: 110px;
      }
    }
  }

  .blog-list .mainTitle {
    font-size: 6rem;
  }

  .blog-list .col-md-6 .blogMainItem {
    margin-bottom: 30px;
  }

  .blog-list .col-md-6 .blogMainItem .overlay {
    padding: 15px;
    height: 200px;
  }

  .blog-list .col-md-6 .blogMainItem .overlay h1 {
    font-size: 1.5rem;
    line-height: 18px;
    margin-top: 40px;
  }

  .blog-list .col-md-6:last-child .overlay {
    height: 160px;
  }
  // ****** END BLOG PAGE ******

  // *** Footer ***
  footer {
    padding-top: 87px;

    .locationsList {
      flex-direction: column;
      margin-top: 20px;
      margin-right: 0;
    }

    .locationsList li {
      margin-bottom: 30px;
      margin-right: 0;
    }

    .locationsList li:last-child {
      margin-bottom: 0;
    }

    .locationsList li h6 {
      margin-bottom: 10px;
    }

    h6 {
      font-size: 1.6rem;
    }

    a {
      font-size: 1.6rem;
    }

    a.mapLink {
      font-size: 1.4rem;
    }

    .socialFooter {
      flex-direction: column;
      align-items: flex-start !important;
      margin-top: 30px;
    }

    .socialFooter .social {
      width: 70%;
    }

    .subscribe .form-group .subscribe-button {
      font-size: 3rem;
    }
  }




  .home .logo,
  .about .logo,
  .logo {
    width: 80px;
    height: 40px;
  }

  .home .logo img,
  .about .logo img,
  .logo img {
    width: 100%;
  }

  header #nav-icon {
    transform: scale(0.7);
    right: 20px;
    top: 16px;
  }

  header .social {
    display: none !important;
  }

  header .menu .locationsList,
  header .menu .coffee {
    display: none;
  }

  header .menu p {
    right: auto;
    text-align: center;
  }

  header .menu .secondary-links {
    flex-direction: column;
    margin-top: 0;
    bottom: 75px;
    left: 45px;
  }

  header .withLove {
    display: none;
  }

  .flex-xs-column {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }

  .mb-xs-0 {
    margin-bottom: 0 !important;
  }

  .text-xs-center {
    text-align: center !important;
  }

  .align-items-xs-start {
    -webkit-box-align: start !important;
    -ms-flex-align: start !important;
    align-items: flex-start !important;
  }

  .back-to-top {
    width: 70px;
    height: 70px;
    bottom: 5%;
  }

  .blog-list .blogMainItem .overlay h1 {
    font-size: 1.5rem;
    line-height: 18px;
    margin-top: 72px;

  }

  section.project.fp-section .fp-tableCell .innerVideoImage {
    max-width: 80%;
    margin: 30px auto;
    max-height: auto !important;
}


section.banner .fp-tableCell .contactButton {

  padding: 0 14px;
      font-size: 1.1rem;
      line-height: 35px;
      right: 111px;
}
section.contact form {
  width: 100%;
  padding: 0 30px;
}

section.contact form .form-group {
  margin-bottom: 20px;
}

section.contact form .form-group h2 {
  font-size: 2rem;
  line-height: 1.3;
  margin-bottom: 20px;
}

section.contact form .form-group input,
section.contact form .form-group textarea {
  font-size: 1.6rem;
}

section.contact form .form-group button {
  width: 100%;
}

section.work .owl-carousel .owl-item .details {
  width: 220px;
}

section.work .owl-carousel .owl-item .details .number {
  font-size: 2rem;
}

section.work .owl-carousel .owl-item .details .title {
  font-size: 2rem;
  line-height: 27px;
}
section.work .owl-carousel .owl-item .details .title {
  font-size:28px;
  line-height: 44px;
}
  section.work .owl-carousel .owl-item .details  {
  left: 55%;
}
section.project.fp-section .fp-tableCell .statistics h3{
  line-height: normal;
  font-size: 2.5rem;
  }

  section.project-details.fp-section .fp-tableCell p {
    font-size: 1.6rem;
    line-height: 25px;

}


section.project-details.fp-section .fp-tableCell .project-navigation .nav-button {
  font-size: 1.8rem;

}


section.project-details.fp-section .fp-tableCell .project-navigation .nav-button.prev img {
  width: 20px;

}

section.project-details.fp-section .fp-tableCell .project-navigation .nav-button.next img {
  width: 20px;
}
.blog .blog-post h1 {
  font-size: 3.2rem;
  line-height: 30px;
  margin-bottom: 25px;
}
.csrFullpage .fp-tableCell {
  padding: 30px;
}

.csrFullpage .fp-tableCell .intro {
  width: 100%;
  padding: 0 60px;
}

.csrFullpage .fp-tableCell .intro h1 {
  font-size: 3rem;
  line-height: 1.3;
}

.csrFullpage .fp-tableCell .intro p {
  width: 100%;
  font-size: 1.6rem;
  line-height: 1.2;
}

.csrFullpage .fp-controlArrow {
  display: none;
}


section.banner .fp-tableCell{
  justify-content: center;
}

section.banner .fp-tableCell .contactButton {
  width: 140px;
}















// Side menu Style 

.menu .coffee{
  width: 28rem !important;
  height: auto;
  bottom: 3%;
  left: 58% !important;
}
.menu .coffee img{
  width: 100%;
  height:auto
}
.menu .main-links{
  margin-bottom: 250px;
}
header .menu .main-links li a{
  font-size: 6rem !important;
  line-height: 56px;
}



// Header in HOME PAGE
.primary_title--container{
  position: relative;
  font-size: 1rem;
}

.primary_title--container .primary_title{
  font-size: 4em !important;
}
.primary_title--container .primary_title,
.primary_title--container .primary_title-sub,
.primary_title--container .secondary_title{
  text-shadow: 0 0 2px #000000 ;
}


.withLove{
  display: block !important;;
}





section.network .fp-tableCell .circle-container .service .centerLogo{
  left: 32px !important;
  top: 23px !important;
  width: 85px !important;
}

section.network .fp-tableCell .circle-container .service:hover .centerLogo{
  top: 39px !important;
  left: 32px !important;
}


.back-to-top{
  width: 50px;
  height: 50px;
  font-size: 2rem;
}


section.about:nth-of-type(5) .row{
  display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    padding: 0;
    margin: 0;
}
section.about:nth-of-type(5) .col-md-6:last-child{
  right: 0;
}


section.work .owl-carousel .owl-item .details {
  left: 50%;
}

.blog-list .col-md-6:last-child .overlay,
.blog-list .col-md-6 .blogMainItem .overlay{
  height: 100%;
}



section.project.fp-section .fp-tableCell .statisticsContainer{
  padding: 0 8%;
  margin-top: 0px !important;
}