section.network .fp-tableCell .circle-container .service .model {
    width: 10em;
    height: 190px;
    right: -10px;

    img {
        width: 100% !important;
        height: auto !important;
    }
}


section.network .fp-tableCell .circle-container .service p {
    font-size: 10px;
    line-height: 1.5em;
    top: -35px;
    position: relative;
    // margin-bottom: 44px;
}

section.project.fp-section .fp-tableCell .desc h2 {
    font-size: 6rem;
    letter-spacing: -0.05em;
    line-height: 59px;
}


section.work .owl-carousel .owl-item .details .title {

    font-size: 3.6rem;
    line-height: 40px;
}

section.work .owl-carousel .owl-item.active:hover .details {
    left: 56%;

}

section.work .owl-carousel .owl-item.active:hover .details .title {
    font-size: 3.6rem;
    letter-spacing: -0.05em;
    line-height: 38px;
}



section.about h2{
    font-size: 5.5rem;
    line-height: 55px;
}
section.about p{
    font-size: 2rem;
    line-height: 33px;
}

section.contact form .form-group h2{
    font-size: 2.8rem;
}

section.contact form input, section.contact form textarea{
    font-size: 2rem;
}



section.work .owl-carousel .owl-item.active:hover .details{
    left: 56%;
    width: 300px;
    top: 66%;
}

    section.work .owl-carousel .owl-item .details{
    left: 53%;
    width: 265px;
    }
    section.network .fp-tableCell .circle-container .service:hover .model {
        top: -20px !important;
        right: -10px !important;
    }
    section.network .fp-tableCell .circle-container .service.events .model img:nth-child(2){
        top: 24% !important;
    }
    section.network .fp-tableCell .circle-container{
        font-size: 1.34rem !important;
    }

    section.network .fp-tableCell .circle-container .service.adv:hover .model{
        top: -5px !important;
    }
    section.network .fp-tableCell .circle-container p{
        font-size: 1em !important;
    }
  
    section.network .fp-tableCell .circle-container .service.producers:hover .model {
        top: 15px ​!important;
    }

    section.network .fp-tableCell .circle-container .service.events:hover .model{
        top: 21px !important;
    }
    section.network .fp-tableCell .circle-container .service.outdoor:hover .model {
        top: 15px !important;
    }
    section.project.fp-section .fp-tableCell .statisticsContainer{
        margin-top: 40px;
    }


    

  

// Side menu Style 

.menu .coffee{
    width: 28rem !important;
    height: auto;
    bottom: auto;
    left: 48% !important;
    top: 32% !important;
    max-height: 30rem;
  }
  header .menu .coffee span{
    font-size: 1.3rem;
  }
  .menu .coffee img{
    width: 100% !important;
    height:auto
  }
  header .menu .main-links {
    margin-bottom: 25px;
}
  header .menu .main-links li{
    margin-bottom:7px ​!important;
  }
  header .menu .main-links li a{
    font-size: 8rem;
    line-height: 85px;
  }
  header .menu .locationsList li{
    margin-bottom: 38px;
  }
  header .menu .locationsList{
    top: 7.1rem;
    width: 330px;
    margin-bottom: 0px !important;
  }
  header .menu .secondary-links{
    width: 400px !important;
  }
  header .menu .locationsList h6 {
    font-size: 2.4rem;
}
header .menu .locationsList a {
    font-size: 1.7rem;
}

.back-to-top{
    width: 50px;
    height: 50px;
    font-size: 2rem;
  }
  section.project.fp-section .fp-tableCell .innerVideoImage{
      width: 100%;
  }
