section.network .fp-tableCell .circle-container .service .model {
    width: 10em;
    height: 190px;
    right: -10px;

    img {
        width: 100% !important;
        height: auto !important;
    }
}


section.network .fp-tableCell .circle-container .service p {
    font-size: 10px;
    line-height: 1.5em;
    top: -35px;
    position: relative;
    // margin-bottom: 44px;
}

section.project.fp-section .fp-tableCell .desc h2 {
    font-size: 6rem;
    letter-spacing: -0.05em;
    line-height: 59px;
}


section.work .owl-carousel .owl-item .details .title {

    font-size: 3.6rem;
    line-height: 40px;
}

section.work .owl-carousel .owl-item.active:hover .details {
    left: 56%;

}

section.work .owl-carousel .owl-item.active:hover .details .title {
    font-size: 3.6rem;
    letter-spacing: -0.05em;
    line-height: 38px;
}



section.about h2{
    font-size: 5.5rem;
    line-height: 55px;
}
section.about p{
    font-size: 2rem;
    line-height: 33px;
}


section.banner .fp-tableCell h1{
    font-size: 3rem;
}

section.banner .fp-tableCell h3{
    font-size: 2.6rem;
}
section.banner .fp-tableCell p{
    font-size: 1.6rem;
}

section.contact form .form-group h2{
    font-size: 2.8rem;
}

section.contact form input, section.contact form textarea{
    font-size: 2rem;
}



section.work .owl-carousel .owl-item.active:hover .details{
    left: 56%;
    width: 300px;
    top: 66%;
}

    section.work .owl-carousel .owl-item .details{
    left: 53%;
    width: 265px;
    }