.blog-list .blogMainItem .overlay h1 {
    font-size: 1.5rem;
    line-height: 18px;
    margin-top:10px;

}

section.project.fp-section .fp-tableCell .innerVideoImage {

    max-width: 80%;
    margin: 30px auto;
    max-height: auto !important;
}

section.banner .fp-tableCell .contactButton {

    padding: 0 14px;
    font-size: 1.1rem;
    line-height: 35px;
}

section.contact form {
    width: 100%;
    padding: 0 30px;
  }

  section.contact form .form-group {
    margin-bottom: 20px;
  }

  section.contact form .form-group h2 {
    font-size: 2rem;
    line-height: 1.3;
    margin-bottom: 20px;
  }

  section.contact form .form-group input,
  section.contact form .form-group textarea {
    font-size: 1.6rem;
  }

  section.contact form .form-group button {
    width: 100%;
  }
  section.work .owl-carousel .owl-item .details {
    width: 220px;
  }

  section.work .owl-carousel .owl-item .details .number {
    font-size: 2rem;
  }

  section.work .owl-carousel .owl-item .details .title {
    font-size: 2rem;
    line-height: 27px;
  }
  section.work .owl-carousel .owl-item .details .title {
    font-size:28px;
    line-height: 44px;
  }
    section.work .owl-carousel .owl-item .details  {
    left: 55%;
  }

  section.project.fp-section .fp-tableCell .statistics h3{
    line-height: normal;
    font-size: 2.5rem;
    }
section.project-details.fp-section .fp-tableCell p {
    font-size: 1.6rem;
    line-height: 25px;

}


section.project-details.fp-section .fp-tableCell .project-navigation .nav-button {
    font-size: 1.8rem;

}

section.project-details.fp-section .fp-tableCell .project-navigation .nav-button.prev img {
    width: 20px;

}

section.project-details.fp-section .fp-tableCell .project-navigation .nav-button.next img {
    width: 20px;
}


.blog .blog-list li h3 {
    font-size: 1.4rem;
    line-height: 20px;
}

.csrFullpage .fp-tableCell {
    padding: 30px;
  }

  .csrFullpage .fp-tableCell .intro {
    width: 100%;
    padding: 0 60px;
  }

  .csrFullpage .fp-tableCell .intro h1 {
    font-size: 3rem;
    line-height: 1.3;
  }

  .csrFullpage .fp-tableCell .intro p {
    width: 100%;
    font-size: 1.6rem;
    line-height: 1.2;
  }

  .csrFullpage .fp-controlArrow {
    display: none;
  }

  .csrFullpage .fp-tableCell .intro {
    width: 100%;
    padding: 0 20px;
  }
  .csrFullpage .fp-tableCell .intro h1 {
    font-size: 2rem;
    line-height: 1.3;
  }

  .csrFullpage .fp-tableCell .intro p {
    width: 100%;
    font-size: 1.2rem;
    line-height: 1.2;
  }

.blog-list .blogMainItem .overlay .authDetails img {
    font-size: 1.8rem;

}
header .menu .coffee {
    img{
      width: 200px;
    }

}

footer .locationsList{
  flex-direction: column;
}
footer .locationsList li{
  margin-bottom: 4rem;
}
header .social{
  display: none !important;
}
.copyrightFooter{
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


section.banner .fp-tableCell .contactButton{
  left: 10px !important;
  right: auto !important;
}

header .menu .locationsList{
  display: none !important;
}


// Side menu Style 

.menu .coffee{
  bottom: 4%;
}
.menu .main-links{
  margin-bottom: 212px;
}
header .menu .main-links li a{
  font-size: 6rem !important;
  line-height: 56px;
}
header .menu .secondary-links li{
  margin-bottom: 0.8rem;
}
header .menu .secondary-links {
  position: absolute;
  bottom: 6%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  left: 9%;
}
header .menu p {
  position: absolute;
  right: auto; 
  left: auto; 
  margin: 0 auto; 
  bottom: 25px;
}


// Header in HOME PAGE
.primary_title--container{
  position: relative;
  left: -12%;
  font-size: 1rem;
}

.primary_title--container .primary_title{
  font-size: 3em !important;
}
.primary_title--container .primary_title,
.primary_title--container .primary_title-sub,
.primary_title--container .secondary_title{
  text-shadow: 0 0 2px #000000 ;
}



section.network .fp-tableCell .circle-container .service .centerLogo{
  left: 32px !important;
  top: 23px !important;
  width: 85px !important;
}

section.network .fp-tableCell .circle-container .service:hover .centerLogo{
  top: 39px !important;
  left: 32px !important;
}




