


    section.work .owl-carousel .owl-item .details{
        left: 46%;
        width: 310px;
    }section.work .owl-carousel .owl-item.active:hover .details{
        left: 46%;
            width: 310px;
        top: 66%;
    }
    