


    section.work .owl-carousel .owl-item .details{
        left: 46%;
        width: 310px;
    }section.work .owl-carousel .owl-item.active:hover .details{
        left: 46%;
            width: 310px;
        top: 66%;
    }
    

  // Header in HOME PAGE
  .primary_title--container{
    position: relative;
    font-size:1rem
  }


  .back-to-top{
    width:60px;
    height:60px;
    font-size: 2.5rem;
  }

  section.project.fp-section .fp-tableCell .innerVideoImage {
    max-height: 80%;
}