/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .home .logo,
    .about .logo,
    .logo {
        width: 80px;
        height: 40px;

        img {
            width: 100%
        }
    }




    header {
        #nav-icon {
            transform: scale(.7);
            right: 20px;
            top: 16px;
        }

        .social {
            display: none !important;
        }

        .menu {

            .locationsList,
            .coffee {
                display: none;
            }

            p {
                right: auto;
                text-align: center;
            }

            .secondary-links {

                flex-direction: column;

                margin-top: 0;
                bottom: 90px;
            }
        }

        .withLove {
            display: none
        }
    }

    .flex-xs-column {
        -webkit-box-orient: vertical !important;
        -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
        flex-direction: column !important;
    }

    .mb-xs-0 {
        margin-bottom: 0 !important;
    }

    .text-xs-center {
        text-align: center !important;
    }

    .align-items-xs-start {
        -webkit-box-align: start !important;
        -ms-flex-align: start !important;
        align-items: flex-start !important;
    }
}