$main_color: #581dc9;
$black: #16092c;
$dark_purple:#301464;
$adv_color:#ca003d;
$interactive_color:#00c4b3;
$outdoor_color:#61a60e;
$PR_color:#00a7e1;
$events_color:#c2d500;
$producers_color:#ff6c0e;