<section class="contact section d-flex justify-content-center align-items-center">

    <form class="d-flex flex-column justify-content-center align-content-center" id="contactForm">

        <div class="flex-column text-center ">

            <div class="form-group animate__animated">
                <h2 class="animate__animated">
                    Hello, nice to meet you :)
                </h2>
                <input type="text" name="name" placeholder="Your name" />
            </div>
            <div class="form-group animate__animated">
                <h2 class="animate__animated">
                    How can I reach you?
                </h2>
                <input type="email" name="email" placeholder="Email" class="mb-4" />
                <input type="text" name="phone" placeholder="Phone" />
            </div>
            <div class="form-group animate__animated">
                <h2 class="animate__animated">
                    If your project could talk, what would it say?
                </h2>
                <textarea type="text" name="message" placeholder="Start typing here"></textarea>

            </div>

            <!-- <button type="button" onclick="sendEmail()" class="sendEmailButton animate__animated">
                Send Message 💬
            </button> -->
            <button type="button" class="sendEmailButton animate__animated">
                Send Message 💬
            </button>
        </div>

    </form>
</section>