<footer class=" section fp-auto-height">
    <div class="container">
        <div class="row mb-5 mb-xs-0">

            <div class="col-md-8">
                <div class="row">
                    <ul class="col-md-5 d-flex justify-content-between">
                        <li><a href="javascript:void(0)" data-link-to-page='workpage' class="hyperLink">WORK </a></li>
                        <li><a href="javascript:void(0)" data-link-to-page='aboutpage' class="hyperLink">ABOUT</a></li>
                        <li><a href="javascript:void(0)" data-link-to-page='contactpage' class="hyperLink">CONTACT</a></li>
                    </ul>
                </div>
                <ul class="locationsList d-flex justify-content-between">
                    <li>
                        <h6>
                            Abu Dhabi, UAE
                        </h6>
                        <a class="mapLink" target="_blank" href="https://goo.gl/maps/dVuWcroiJtYjdjJp8">
                             Park Rotana Offices Building, 4th floor
                        </a>
                        <br>
                            <a href="tel:+97126449444"  class="mapLink"> +971 2644 94 44</a>
                    </li>
                    <li>
                        <h6>
                            Dubai, UAE
                        </h6>
                        <a class="mapLink" target="_blank" href="https://goo.gl/maps/p8XYfu2Sk3PSBP1B6">
                            Arjaan Office Tower, 
                            <br />Office 601, 6th floor, Dubai Media City, AE
                            <br>
                            <a href="tel:+97144494101"  class="mapLink">+97144494101</a>
                        </a>
                    </li>
                    <li>
                        <h6>
                            Cairo, EG
                        </h6>
                        <a class="mapLink" target="_blank" href="https://goo.gl/maps/LxwjCTVksoFJK3x9A">
                            Block 72 off 90 Axis El Tagmoaa, New Cairo 1, Cairo Governorate
                             
                        </a><br>
                         <a href="tel:+20225371131"  class="mapLink"> +202 2537 11 31</a>
                   <br>
                    <a href="tel:+20225371132"  class="mapLink"> +202 2537 11 32</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 ">
                <div class=" socialFooter d-flex align-items-center">
                    <h6 class="mb-4 mr-5">
                        Follow us on social
                    </h6>
                    <ul class="d-flex justify-content-between social">
                        <li><a href="https://www.facebook.com/ViolaCommunications/" target="_blank"><img
                                    src="img/001-facebook.svg" /></a></li>
                        <li><a href="https://twitter.com/violacomm?lang=en" target="_blank"><img
                                    src="img/013-twitter-1.svg" /></a></li>
                        <li><a href="https://www.instagram.com/violacommunications/" target="_blank"><img
                                    src="img/011-instagram.svg" /></a></li>
                        <li><a href="https://www.linkedin.com/company/viola-communications-llc" target="_blank"><img
                                    src="img/010-linkedin.svg" /></a></li>
                    </ul>
                </div>
                <div class="subscribe">
                    <h6 class="mb-4">
                        Get Pound & Grain In your Inbox
                    </h6>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Subscribe">
                        <a href="javascript:" class="subscribe-button">
                            👍🏼
                        </a>
                    </div>
                </div>
            </div>


        </div>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-between flex-xs-column">
                <ul class=" d-flex justify-content-between sub-menu">
                    <li><a target="_blank"
                            href="https://www.linkedin.com/jobs/viola-communications-llc-jobs-worldwide?f_C=517576&trk=top-card_top-card-primary-button-top-card-primary-cta&position=1&pageNum=0">Join
                            Us </a></li>
                    <li><a href="javascript:void(0)" data-link-to-page='news-insight-page' class="hyperLink2">News & Insight</a></li>
                    <li><a href="javascript:void(0)" data-link-to-page='violawithyou' class="hyperLink2">Viola With You</a></li>
                </ul>
                <div class="text-left">
                    <p class="copy">
                        © 2020 Viola Communications. All Rights Reserved
                    </p>
                </div>
                <!-- <div class="text-right text-xs-center ">
                    <p class="copy">
                        Made with ❤️ Viola Communications
                    </p>
                </div> -->
            </div>

        </div>
    </div>
</footer>