<header>
    <a class="d-inline-block logo" href="index.html">
        <img src="img/V-beta.svg" />
    </a>
    <div id="nav-icon">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="overlay">
        <img src="img/Logo-2.gif" />
    </div>
    <div class="overlayResponsive  d-flex flex-column d-lg-none">
        <img src="img/Logo-2.gif" />
        <h3>please use desktop browser for better experience</h3>
    </div>
    <div class="menu  align-items-center justify-content-around">
        <a class="d-inline-block logo" href="index.html">
            <img src="img/V-beta-white.svg" />
        </a>
        <div class="menulinks d-flex flex-column ">

            <ul class="main-links ">
                <li><a href="work.html">Work</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a target="_blank"
                        href="https://www.linkedin.com/jobs/viola-communications-llc-jobs-worldwide?f_C=517576&trk=top-card_top-card-primary-button-top-card-primary-cta&position=1&pageNum=0">Join
                        Us</a></li>
            </ul>
            <ul class="secondary-links">
                <!-- <li><a href="">Join the family</a></li> -->
                <li><a href="csr.html">CSR</a></li>
                <li><a href="blog-list.html">Our Blog</a></li>
                <li><a target="_blank" href="virtual-tour/index.htm">Office Virtual Tour</a></li>

            </ul>
        </div>
        <div class="coffee">
            <span>Let’s a V Coffee together</span>
            <img usemap="#workmap" src="img/coffee.png">
            <map name="workmap">
                <area shape="rect" onmouseover="showTest()" onmouseout="hideText()" coords="34,44,270,350"
                    alt="Computer" href="contact.html">
            </map>
        </div>
        <ul class="locationsList">
            <li>
                <a class="mapLink" target="_blank" href="https://goo.gl/maps/dVuWcroiJtYjdjJp8">
                    <h6>
                        Abu Dhabi, UAE
                    </h6>
                    Twofour54 Park Rotana offices building, 4th floor
                    
                </a>
                <br>
                            <a href="tel:+97126449444"  class="mapLink"> +971 2644 94 44</a>
            </li>
            <li>
                <a class="mapLink" target="_blank" href="https://goo.gl/maps/p8XYfu2Sk3PSBP1B6">
                    <h6>
                        Dubai, UAE
                    </h6>
                    Red Hat<br />
                    605 and 602 Arjaan Office Tower, - Office 601, 6th floor, Dubai Media City, AE
                    <br>
                            <a href="tel:+97144494101"  class="mapLink">+971 4449 41 01</a>
                </a>
            </li>
            <li>
                <a class="mapLink" target="_blank" href="https://goo.gl/maps/LxwjCTVksoFJK3x9A">
                    <h6>
                        Cairo, EG
                    </h6>
                    Block 72 off 90 Axis El Tagmoaa, New Cairo 1, Cairo Governorate
                    
                </a><br>
                 <a href="tel:+20225371131"  class="mapLink"> +202 2537 11 31</a>
                   <br>
                    <a href="tel:+20225371132"  class="mapLink"> +202 2537 11 32</a>
            </li>
            <!-- <li>
                <button>
                    Let’s take a coffee ☕ together
                </button>
            </li> -->
        </ul>
        <!-- <p>
            Made with ❤️ Viola Communications
        </p> -->
    </div>
    <ul class="social d-flex flex-column">
        <li>
            <a href="https://www.facebook.com/ViolaCommunications/" target="_blank" class="d-inline-block">
                <img src="img/fbGray.svg" alt="">
            </a>
        </li>
        <li>
            <a href="https://twitter.com/violacomm?lang=en" target="_blank" class="d-inline-block">
                <img src="img/twGray.svg" alt="">
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/violacommunications/" target="_blank" class="d-inline-block">
                <img src="img/igGray.svg" alt="">
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/company/viola-communications-llc" target="_blank" class="d-inline-block">
                <img src="img/liGray.svg" alt="">
            </a>
        </li>
    </ul>
    <img class=" withLove" src="img/withLoveGray.png" />
</header>